.ListarPedidos-containerTable {
  padding-top: 2em;
  padding-bottom: 3em;
}
.ListarPedidos-title {
  text-align: center;
  margin-top: 0;
  padding-top: 1em;
}
.ListarPedidos {
  padding: 2em 0;
  font-family: 'Open Sans';
  text-align: center;
  background-color: #fafafa;
}
.ListarPedidos-containerTable {
  background-color: #fafafa;
  padding: 0;
  padding-top: 3em;
}
.ListarPedidos-title {
  margin-top: 0;
  padding-bottom: 1em;
  color: rgba(17,85,34,0.533) 3;
}
.ListarPedidos-table {
  width: 100%;
  margin: 0 0 50px 0;
}
.ListarPedidos-table th {
  background: #152836;
  color: #fafafa;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.ListarPedidos-table td {
  color: #337ab7;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}
.ListarPedidos-table tr:last-child td {
  border-top: 1px solid #ccc;
}
.ListarPedidos-table tbody {
  border: 1px solid #152836;
}
@media screen and (max-width: 768px) {
  .ListarPedidos-table,
  .ListarPedidos-table thead,
  .ListarPedidos-table tbody,
  .ListarPedidos-table th,
  .ListarPedidos-table td,
  .ListarPedidos-table tr {
    display: block;
  }
  .ListarPedidos-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .ListarPedidos-table tr {
    border: 1px solid #ccc;
  }
  .ListarPedidos-table td {
    border: none;
    position: relative;
  }
  .ListarPedidos-table td:before {
    position: relative;
    font-weight: bold;
  }
  .ListarPedidos-table td:nth-of-type(1):before {
    content: "Nombre Producto: ";
  }
  .ListarPedidos-table td:nth-of-type(2):before {
    content: "Dirección: ";
  }
  .ListarPedidos-table td:nth-of-type(3):before {
    content: "Descripción: ";
  }
  .ListarPedidos-table td:nth-of-type(4):before {
    content: "Ciudad: ";
  }
  .ListarPedidos-table td:nth-of-type(5):before {
    content: "Zona de Envio: ";
  }
  .ListarPedidos-table td:nth-of-type(6):before {
    content: "Fecha: ";
  }
}
@media screen and (max-width: 1001px) {
  .PedidoList-Content {
    text-align: center;
  }
  .IconsPedidoList {
    max-width: 55px;
    margin-right: 0.5em;
    display: inline-block;
  }
  .IconsPedidoList-container {
    text-align: center;
    display: inline-block;
  }
}
