.ListarPedidosTable-containerTable
  padding-top 2em
  padding-bottom 3em


.ListarPedidos-title
  text-align center
  margin-top 0
  padding-top 1em

.ListarPedidosTable
  padding 2em 0
  font-family 'Open Sans'
  text-align center
  background-color #fafafa
  &-containerTable
    background-color #fafafa
    padding 0
    padding-top 3em

.ListarPedidos-title
  margin-top 0
  padding-bottom 1em
  color #15283

.ListarPedidos-table
  width 100%
  margin 0 0 50px 0

.ListarPedidos-table th
  background #152836
  color #fafafa
  font-weight bold
  padding 5px
  text-align center

.ListarPedidos-table td
  color #337ab7
  border-bottom 1px solid #ccc
  padding 5px
  text-align center

.ListarPedidos-table tr:last-child td
  border-top 1px solid #ccc

.ListarPedidos-table tbody
  border 1px solid #152836
