.HeaderUserView {
  background-color: #166ba2;
  height: 28em;
  padding-top: 3.6em;
}
.HeaderUserView-logo {
  text-align: center;
  padding-top: 1em;
}
.HeaderUserView-logoImg {
  width: 100%;
  border: solid 4px #f9f9f9;
  border-radius: 50%;
  height: 15em;
  width: 15em;
}
.HeaderUserView-icons {
  padding: 1em 1.5em 1em 0;
}
.FormPerfilUser {
  background-color: #fffafa;
  font-family: 'Open Sans';
  display: flex;
  justify-content: space-between;
  padding: 2em;
  margin: auto;
  border-radius: 0.5em;
  max-width: 55em;
}
.FormPerfilUser-input {
  margin-bottom: 1em;
  font-family: 'Open Sans';
  border-radius: 1em;
  diplay: inline-block;
  width: 80%;
}
.FormPerfilUser-edit {
  display: inline-block;
  font-family: 'Open Sans';
  width: 10%;
  color: #3d9bff;
  cursor: pointer;
  padding-left: 1.5em;
}
.FormPerfilUser-tittle {
  color: #000;
  font-family: 'Open Sans';
  border: 1px solid #999;
  margin: 0 0 1.5em 0;
  padding: 0.5em 0;
  box-shadow: 3px 2px 4px -3px #999;
}
.FormPerfilUser-img {
  width: 9em;
  height: 9em;
  border: 1px solid #999;
  box-shadow: 3px 3px 4px -3px #999;
}
.FormPerfilUser-info {
  width: 80%;
  display: inline-block;
}
.FormPerfilUser-label {
  box-sizing: border-box;
  padding: 2em;
  border: 1px solid #999;
  box-shadow: 3px 3px 4px -3px #999;
}
@media (max-width: 463px) {
  .FormPerfilUser-edit {
    padding-left: 0.5em;
    font-size: 11px;
  }
  .FormPerfilUser-label {
    padding-left: 0.2em;
  }
}
@media (max-width: 422px) {
  .FormRegistro {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .FormPerfilUser {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .FormPerfilUser-img {
    margin-bottom: 2em;
  }
  .FormPerfilUser-info {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .FormPerfilUser {
    padding: 1em;
  }
}
@media screen and (max-width: 1000px) {
  .HeaderUserView-icons {
    max-width: 55px;
    margin-right: 0.5em;
    display: inline-block;
  }
  .HeaderUserView-containerIcon {
    text-align: center;
  }
}
