/**
  estilos para el header del index
*/
body {
  min-height: 100vh;
}
.Header {
  height: 60em /** antes 48em **/;
  text-align: center;
  background-color: #3d9bff;
  background-image: url("/images/header.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50px;
}
.Header-content {
  height: 40em;
}
.MainMenu {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 99;
  background-color: #152836;
  border-radius: 0px;
  border: none;
  font-family: 'Open Sans';
  text-align: center;
  margin-bottom: 0;
}
.MainMenu-list {
  display: inline-block;
}
.MainMenu-link {
  color: #fff;
}
.MainMenu-linkLogo {
  padding: 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.MainMenu-logo {
  width: 5em;
  height: 100%;
  margin: 0;
  margin-left: 1em;
  display: inline-block;
}
.MainMenu-logo>img {
  width: 100%;
  height: 100%;
}
.PanelLogin {
  position: absolute;
  display: inline-block;
  background: #fffafa;
  right: 0em;
  padding: 1.5em;
  display: none;
  border: 1px solid #d3d3d3;
  border-top: none;
  text-align: center;
  z-index: 3;
}
.PanelLogin-form {
  width: 20em;
}
.PanelLogin-input {
  text-align: center;
}
.Options {
  position: absolute;
  display: inline-block;
  text-align: center;
  background: #fffafa;
  right: 0em;
  display: none;
  border-right: 2px solid #152836;
  border-bottom: 2px solid #152836;
  border-left: 2px solid #152836;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.OptSelect,
.OptSelect2 {
  width: 15em;
  padding: 1em;
}
.MainMenu-scrolled {
  transition: all 0.6s ease-out;
  background-color: #152836;
  opacity: 0.9;
  transition: background 0.5s ease-in-out, opacity 0.5s ease;
}
#MainMenu-list>li>a:hover {
  color: #3d9bff;
}
#MainMenu-list>li>a:focus {
  color: #3d9bff;
}
#LoginMovil {
  display: none;
}
#PerfilMovil {
  display: none;
}
#CerrarMovil {
  display: none;
}
#UserIconMovil {
  display: none;
}
#ConfigMovil {
  display: none;
}
#UsMovil {
  display: none;
}
#ObjMovil {
  display: none;
}
#BenMovil {
  display: none;
}
#EnvMovil {
  display: none;
}
/** @media (max-width: 987px)
  .MainMenu
    padding-top 3em
    &-list
      width 100%
      text-align center
      padding-left 0
    &-containerIndex
      padding-left 0
      padding-right 0
  .MainMenu-list>li
      display inline-block
      float none**/
/** @media screen and (min-width: 768px) and (max-width: 987px)
  .DisplayTablet-view
    display block
    float left
  .MainMenu-containerIndex
    display none **/
/** @media (max-width: 1323px)
  .MainMenu-logo
    float left **/
/**.MainMenu-list
  display none **/
/** --- CON ESTO SE SUPONÍA SE ORGANIZABA LA NAV ---

@media (min-width: 768px) and (max-width: 992px)
  .navbar-collapse.collapse
    display none !important
  .navbar-collapse.collapse.in
    display block !important
  .navbar-header .collapse, .navbar-toggle
    display block !important
  .navbar-header
    float none
  .MainMenu-list>li
    display block
  .nav>li
    display block

---- SE PONE SIMILAR CUANDO SE ESTÁ LOGUEADO >:( ----- **/
@media (max-width: 767px) {
  .MainMenu {
    padding-top: 0;
  }
  .MainMenu-list>li {
    display: block;
  }
  #MainMenu-list {
    display: block;
    margin: 1em 0 0.5em 0;
  }
  #LoginMovil {
    display: block;
  }
  #UserIconMovil {
    display: inline-block;
    margin-top: 1em;
  }
  #PerfilMovil {
    display: block;
  }
  #CerrarMovil {
    display: block;
  }
  #LoginDesktop {
    display: none;
  }
  #NameDesktop {
    display: none;
  }
  #PerfilDesktop {
    display: none;
  }
  #ConfigDesktop {
    display: none;
  }
  #ConfigMovil {
    display: block;
  }
  #UsMovil {
    display: block;
  }
  #ObjMovil {
    display: block;
  }
  #BenMovil {
    display: block;
  }
  #EnvMovil {
    display: block;
  }
  #UsDesktop {
    display: none;
  }
  #ObjDesktop {
    display: none;
  }
  #BenDesktop {
    display: none;
  }
  #EnvDesktop {
    display: none;
  }
}
@media (max-width: 695px) {
  .Header {
    height: 28em;
    background-image: url("/images/header.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 50px;
  }
  .Header-content {
    height: 20em;
  }
}
/** Estilos animaciones header **/
@media (min-width: 768px) {
  .Header-container {
    width: 27em;
    height: 5em;
    display: flex;
    border: 1px solid #f00;
    color: #f00;
    font-size: 25px;
    line-height: 25px;
    position: absolute;
    top: 10em;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
  }
  .Header-container>ul {
    list-style: none;
    padding-left: 10px;
    margin: 0;
  }
  .Header-container>p {
    margin: 0;
    font-family: 'Open Sans';
  }
  .Header-paragraph1 {
    animation: changetext1 20.2s ease-in-out infinite;
  }
  .Header-paragraph2 {
    animation: changetext2 20.2s ease-in-out infinite;
  }
  .Header-paragraph3 {
    animation: changetext3 20.2s ease-in-out infinite;
  }
@-webkit-keyframes changetext1 {
    0% {
      opacity: 0;
      animation-timing-function: ease-in-out;
      -webkit-transform: translateY(100%);
    }
    9% {
      opacity: 1;
      animation-timing-function: ease-in-out;
      -webkit-transform: translateY(0%);
    }
    23% {
      opacity: 1;
    }
    24% {
      opacity: 0;
    }
    85% {
      opacity: 0;
      animation-timing-function: ease-in-out;
      -webkit-transform: translateY(0%);
    }
    100% {
      opacity: 0;
      animation-timing-function: ease-in-out;
      -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes changetext2 {
    25% {
      opacity: 0;
      animation-timing-function: ease-in-out;
      -webkit-transform: translateY(0%);
    }
    34% {
      opacity: 1;
      animation-timing-function: ease-in-out;
      -webkit-transform: translateY(-5.5em);
    }
    53% {
      opacity: 1;
      animation-timing-function: ease-in-out;
      -webkit-transform: translateY(-5.5em);
    }
    54% {
      opacity: 0;
    }
    85% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@-webkit-keyframes changetext3 {
    0% {
      opacity: 0;
      animation-timing-function: ease-in-out;
      -webkit-transform: translateY(0%);
    }
    20% {
      opacity: 1;
      animation-timing-function: ease-in-out;
      -webkit-transform: translateY(0%);
    }
    22% {
      opacity: 0;
    }
    25% {
      opacity: 0;
      animation-timing-function: ease-in-out;
      -webkit-transform: translateY(0%);
    }
    50% {
      opacity: 1;
      animation-timing-function: ease-in-out;
      -webkit-transform: translateY(-5.5em);
    }
    55% {
      opacity: 1;
      animation-timing-function: ease-in-out;
      -webkit-transform: translateY(-5.5em);
    }
    64% {
      opacity: 1;
      animation-timing-function: ease-in-out;
      -webkit-transform: translateY(-10.85em);
    }
    84% {
      opacity: 1;
      animation-timing-function: ease-in-out;
      -webkit-transform: translateY(-10.85em);
    }
    85% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}
}
/**
  estilos para los demas headers
*/
.MainMenuSecundary {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 3;
  background-color: #152836;
  border-radius: 0px;
  border: none;
  font-family: 'Open Sans';
  text-align: center;
  margin-bottom: 0;
}
.MainMenuSecundary-linkLogo {
  padding: 0;
}
#MainMenuSecundary-list>li>a:hover {
  color: #3d9bff;
}
#MainMenuSecundary-list>li>a:focus {
  color: #3d9bff;
}
.MainMenuAmbiental {
  background-color: #007e33;
  font-family: 'Open Sans';
  border-color: #24cc0d;
}
