/**
  estilos para el header del index
*/

body
  min-height 100vh
.Header
  height 48em
  text-align center
  background-color #3D9BFF
  background-image url('/images/header.jpg')
  background-size cover
  background-position center
  background-repeat no-repeat
  &-content
    height 40em
.MainMenu
  position fixed
  right 0
  left 0
  z-index 99
  background-color #152836
  border-radius 0px
  border none
  font-family 'Open Sans'
  text-align center
  margin-bottom 0
  &-list
    display inline-block
  &-link
    color white
  &-linkLogo
    padding 0
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  &-logo
    width 5em
    height 100%
    margin 0
    margin-left 1em
    display inline-block
  &-logo>img
    width 100%
    height 100%

.PanelLogin
  position absolute
  display inline-block
  background snow
  right 0em
  padding 1.5em
  display none
  border 1px solid lightgray
  border-top none
  text-align center
  z-index 3
  &-form
    width 20em
  &-input
    text-align center

.Options
  position absolute
  display inline-block
  text-align center
  background snow
  right 0em
  display none
  border 6px solid #e7e7e7

.OptSelect, .OptSelect2
  width 15em
  padding 1em

.MainMenu-scrolled
    transition all 0.6s ease-out
    background-color: #152836;
    opacity: 0.9;
    transition: background .5s ease-in-out, opacity .5s ease;


#MainMenu-list>li>a:hover
  background snow
  color #3D9BFF

#MainMenu-list>li>a:focus
  background snow
  color #3D9BFF

#LoginMovil
  display none



@media (max-width: 987px)
  .MainMenu
    padding-top 3em
    &-list
      width 100%
      text-align center
      padding-left 0
    &-containerIndex
      padding-left 0
      padding-right 0
  .MainMenu-list>li
      display inline-block
      float none
@media (max-width: 767px)
  .MainMenu
    padding-top 0
  .MainMenu-list>li
    display block
  #LoginMovil
    display block
  #LoginDesktop
    display none

@media (max-width: 695px)
  .Header
    height 28em
    background-image url('/images/header.jpg')
    background-size 100% 100%
    background-repeat no-repeat
    &-content
      height 20em


/**
  estilos para los demas headers
*/

.MainMenuSecundary
  position fixed
  right 0
  left 0
  z-index 3
  background-color #152836
  border-radius 0px
  border none
  font-family 'Open Sans'
  text-align center
  margin-bottom 0
  &-linkLogo
    padding 0
#MainMenuSecundary-list>li>a:hover
  background snow
  color #3D9BFF

#MainMenuSecundary-list>li>a:focus
  background snow
  color #3D9BFF


.MainMenuAmbiental
    background-color #007E33
    font-family 'Open Sans'
    border-color #24CC0D
