<header class="headeronlynav">
  <div class="navbar MainMenu headeronlynav-navbar">
  <div class="container-fluid">
    <!-- responsive movil -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"  data-target=".navbar-inverse-collapse" onclick="showMainMenuPrimary();"
      style="background: #00B3D2">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand MainMenu-linkLogo" href="/" ><figure class="MainMenu-logo"><img src="./images/logo.png" /></figure></a>
    </div>

    <!-- view desktop -->
    <div id="MainMenuPrimary" class="navbar-collapse collapse MainMenu-container">


            <ul class="nav navbar-nav navbar-right MainMenu-list">
              <li ng-show="!vm.isAuthenticated()" class="MainMenu-item"><a href="" onclick="showLogin()" class="MainMenu-link">Iniciar Sesion▼</a>
                <div id="PanelLogin" class="PanelLogin z-depth-1">
                  <form name="loginDespForm" class="PanelLogin-form" ng-submit="vm.signIn()">
                    <h2 class="PanelLogin-tittle">Iniciar Sesion</h2>
                    <md-input-container class="md-block">
                      <label>Email*</label>
                      <input required type="email" name="email"  ng-model="vm.user.email"
                      minlength="5" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                      <div ng-messages="loginDespForm.email.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                          Your email must be between 5 and 100 characters long and look like an e-mail address.
                        </div>
                      </div>
                    </md-input-container>
                    <md-input-container class="md-block" >
                      <label>Password*</label>
                      <input  type="password" name="password" ng-model="vm.user.password" required>
                      <div ng-messages="loginDespForm.password.$error">
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>
                    <md-button type="submit" md-no-ink class="md-raised md-primary" ng-disabled="loginDespForm.$invalid">Login</md-button>
                  </form>
              </li>
              <li ng-show="vm.isAuthenticated()" class="MainMenu-item"><a href="" class="MainMenu-link">{{vm.getCurrentUser()}}</a></li>
              <li ng-show="!vm.isAuthenticated()" class="MainMenu-item"><a href="#/regisuser" class="MainMenu-link" >Registrar Usuarios</a></li>
              <li ng-show="!vm.isAuthenticated()" class="MainMenu-item"><a href="#/regisdrog" class="MainMenu-link" >Registrar Droguerias</a></li>
              <li ng-show="vm.isAuthenticated()" class="MainMenu-item">
                <span class="glyphicon glyphicon-user" onclick="showOptions()" style="font-size:40px; top:0; background-color:#e7e7e7; padding:5px"></span>
                  <div id="Options" class="Options z-depth-1">
                    <div class="OptSelect">
                      <a href="#/usuariosview/{{vm.getIdCurrentUser()}}" class="ViewProfile" style="color:#3D9BFF">Ver perfil</a>
                    </div>
                    <div class="OptSelect2" style="border-top: 6px solid #e7e7e7">
                      <a href="" class="MainMenu-link MainMenu-linkLogOut"  ng-click="vm.logout()" style="color:#3D9BFF">Cerrar Sesion</a>
                    </div>
              </li>
            </ul>
    </div>
  </div>
</div>



</header>
