.ContactForm-content {
  text-align: center;
  padding-top: 6em;
  margin-bottom: 2em;
}
.Contact-form {
  margin-top: 3em;
  background-color: #f5f5f5;
  opacity: 0.9;
  width: 35em;
  display: inline-block;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 1px 6px rgba(0,0,0,0.35);
}
.FormContact-text {
  resize: none;
}
@media screen and (max-width: 527px) {
  .Contact-form {
    width: 100%;
  }
  .ContactForm-content {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
