.passconfirm
  background-color #166ba2
  height 28em
  padding-top 3.6em
  &-logo
    text-align center
    padding-top 1em
  &-logoImg
    width 100%
    border solid 4px #f9f9f9
    border-radius 50%
    height 15em
    width 15em
  &-icons
    padding 1em 1.5em 1em 0
    display inline-block
  &-form
    text-align center




/**.passconfirm-containerIcon
  display inline-block **/


@media screen and (min-width: 201px) and (max-width: 1000px)
  .passconfirm
    &-icons
      max-width 55px
      margin-right 0.5em
      display inline-block
    &-containerIcon
      text-align center
      /**display inline-block**/

@media screen and (max-width: 200px)
  .passconfirm
    &-icons
      max-width 18px
      margin-right 0.5em
      display inline-block
    &-containerIcon
      text-align center
