<section class="passconfirm">
  <div class="container">
    <div class="row" >
      <div class="col-md-4">
      </div>
      <div class="col-md-4 passconfirm-logo">
          <img src="./images/security.png" alt="Usuarios" class="passconfirm-logoImg" style="max-width:15em">
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  <div class="container passconfirm-content">
    <div class="row passconfirm-containerIcon">
      <div class="col-md-3 text-center passconfirm-icons">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">account_circle</i>
      </div>
      <div class="col-md-3 text-center passconfirm-icons">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">list</i>
      </div>
      <div class="col-md-3 text-center passconfirm-icons">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">desktop_windows</i>
      </div>
      <div class="col-md-3 text-center passconfirm-icons">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">remove_red_eye</i>
      </div>
    </div>
  </div>
</section>

<section class="passconfirmForm">

  <form class="passconfirmForm-form"  ng-submit="vm.update()">
    <h1 class="text-center passconfirmForm-title">Restablecer contraseña </h1>

    <md-input-container class="md-block UserCreate-container">
    <label>Nueva Contraseña</label>
    <input minlength="5" maxlength="20" ng-pattern=".{5,}" required md-no-asterisk name="pass" type="password" ng-model="vm.password1">
    <div ng-messages="FormRegistroUsuarios.pass.$error" role="alert">
      <!-- <div ng-message="required">Este campo no puede estar vacio.</div>
      <div ng-message="pattern">La Contraseña no puede tener menos de 5 caracteres.</div> -->
      <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">La contraseña debe tener entre 5 y 20 caracteres.</div>
    </div>
    </md-input-container>

    <md-input-container class="md-block UserCreate-container">
    <label>Confirme Contraseña</label>
    <input minlength="5" maxlength="20" ng-pattern=".{5,}" required md-no-asterisk name="pass" type="password" ng-model="vm.password2">
    <div ng-messages="FormRegistroUsuarios.pass.$error" role="alert">
      <!-- <div ng-message="required">Este campo no puede estar vacio.</div>
      <div ng-message="pattern">la Contraseña no puede tener menos de 5 caracteres.</div> -->
      <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">La contraseña debe tener entre 5 y 20 caracteres.</div>
    </div>
    </md-input-container>


    <md-button type="submit" class="md-raised md-primary passconfirmButton">Restablecer contraseña</md-button>
  </form>

</section>
