.FormularioContacto {
  margin-top: 6em;
  margin-bottom: 2em;
  font-family: 'Arimo';
  background: #f5f5f5;
  width: 35em;
  display: inline-block;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 1px 6px rgba(0,0,0,0.35);
}
.Form-nameLabel {
  float: left;
  padding-bottom: 0.5em;
  font-weight: 300;
}
.container {
  text-align: center;
}
@media (max-width: 570px) {
  .FormularioContacto {
    width: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
