.MajorContainer-elements {
  min-height: calc(80vh);
}
.AdminPedidoMajor-container {
  padding-top: 2em;
  padding-bottom: 3em;
}
.AdminTable-title {
  text-align: center;
  margin-top: 0;
  padding-top: 1em;
}
