.MajorContainer-elements {
  min-height: calc(80vh);
}
.AdminPedidoMajor-container {
  padding-top: 2em;
  padding-bottom: 3em;
}
.PanelPedidosUsuarios {
  text-align: center;
/**&-tabs
    width 80em
    display inline-block**/
}
.PanelPedidosUsuarios-itemTitle {
  text-align: left;
}
.AdminPedDrogModal-inputsContainer {
  width: 48%;
  display: inline-block;
  margin-right: 3%;
}
.AdminPedDrogModal-inputsContainer2 {
  width: 48%;
  display: inline-block;
}
.AdminPedDrogModal-textArea {
  resize: none;
}
@media screen and (max-width: 429px) {
  .AdminPedDrogModal-inputsContainer,
  .AdminPedDrogModal-inputsContainer2 {
    width: 100%;
    display: block;
    margin-right: 0;
  }
}
@media screen and (max-width: 450px) {
  input.PriceInput-info {
    font-size: 11px;
  }
}
@media screen and (max-width: 400px) {
  input.PriceInput-info {
    width: 122%;
    margin-left: -1.5em;
  }
}
@media (min-width: 450px) and (max-width: 401px) {
  input.PriceInput-info {
    width: 112%;
    margin-left: -0.85em;
  }
}
@media screen and (max-width: 480px) {
  span {
    font-size: 11px;
  }
}
@media screen and (max-width: 1001px) {
  .AdminPedidoList-Content {
    text-align: center;
  }
  .AdminPedidoListIcon-container {
    text-align: center;
    display: inline-block;
  }
  .IconsAdminPedidoList {
    max-width: 55px;
    margin-right: 0.5em;
    display: inline-block;
  }
}
