.HeaderUserList {
  background-color: #166ba2;
  height: 28em;
  padding-top: 3.6em;
}
.HeaderUserList-logo {
  text-align: center;
  padding-top: 1em;
}
.HeaderUserList-logoImg {
  width: 100%;
  border: solid 4px #f9f9f9;
  border-radius: 50%;
}
.HeaderUserList-icons {
  padding: 1em 1.5em 1em 0;
}
.UserTable {
  padding: 2em 0;
  font-family: 'Open Sans';
  text-align: center;
  background-color: #fafafa;
}
.UserTable-title {
  margin-top: 0;
  padding-bottom: 1em;
  color: rgba(17,85,34,0.533) 3;
}
.UserTable-containerTable {
  background-color: #fafafa;
  padding: 0;
  padding-top: 3em;
}
.UserTable-table {
  width: 100%;
  margin: 0 0 50px 0;
}
.UserTable-table th {
  background: #152836;
  color: #fafafa;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.UserTable-table td {
  color: #337ab7;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}
.UserTable-table tr:last-child td {
  border-top: 1px solid #ccc;
}
.UserTable-table tbody {
  border: 1px solid #152836;
}
.ng-binding.sort-indicator {
  color: #fafafa;
}
/**@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px) **/
@media (max-width: 768px) {
  .UserTable {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .UserTable-table,
  .UserTable-table thead,
  .UserTable-table tbody,
  .UserTable-table th,
  .UserTable-table td,
  .UserTable-table tr {
    display: block;
  }
  .UserTable-table tbody {
    border: none;
  }
  .UserTable-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .UserTable-table tr {
    border: 1px solid #152836;
    margin-bottom: 1em;
  }
  .UserTable-table td {
    border: none;
    position: relative;
  }
  .UserTable-table td:before {
    position: relative;
    font-weight: bold;
  }
  .UserTable-table td:nth-of-type(1):before {
    content: "Nombres: ";
  }
  .UserTable-table td:nth-of-type(2):before {
    content: "Apellidos: ";
  }
  .UserTable-table td:nth-of-type(3):before {
    content: "Telefono: ";
  }
  .UserTable-table td:nth-of-type(4):before {
    content: "Direccion: ";
  }
  .UserTable-table td:nth-of-type(5):before {
    content: "Ciudad: ";
  }
  .UserTable-table td:nth-of-type(6):before {
    content: "Email: ";
  }
}
@media screen and (max-width: 1001px) {
  .HeaderUserList-Content {
    text-align: center;
  }
  .HeaderUserList-icons {
    max-width: 55px;
    margin-right: 0.5em;
    display: inline-block;
  }
  .HeaderUserList-containerIcon {
    text-align: center;
    display: inline-block;
  }
}
