.UsersList-majorContainer {
  font-family: 'Open Sans';
}
.UsersList-title {
  font-family: 'Open Sans';
  padding-top: 3em;
  padding-bottom: 2.5em;
}
.UsersList-table {
  font-family: 'Open Sans';
}
