.Gear {
  border: solid 4px #f9f9f9;
  border-radius: 50%;
  width: 15em;
  height: 15em;
}
.HeaderUserCreate {
  background-color: #166ba2;
  height: 28em;
  padding-top: 3.3em;
}
.HeaderUserCreate-content {
  text-align: center;
  padding-top: 1em;
}
/**.UsersHeaderImage-container
  max-width 15em
  text-align center**/
.UserHeaderImage {
  width: 100%;
  border: solid 4px #f9f9f9;
  border-radius: 50%;
}
/**.UserHeaderList-content
  max-width 15em**/
.IconsHeaderUserCreate-container {
  padding: 1em 0.5em 1em 0;
}
.IconsUserCreate-container {
  text-align: right;
}
.Registro {
  text-align: center;
  font-family: 'Open Sans';
  padding: 3em 0;
  background-color: #fafafa;
}
.FormRegistro {
  background-color: #fffafa;
  display: inline-block;
  padding: 2em;
  border-radius: 0.5em;
/** box-shadow 0.1em 0.1em  #555 **/
  width: 30em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
/** color Snow **/
  text-align: center;
}
.FormRegistro-autocomplete {
  color: #000;
}
.FormRegistro-tittle {
  color: #000;
  padding-bottom: 1em;
}
md-input-container .md-input {
  padding-right: 4em;
}
._720kb-datepicker-calendar-header-middle,
._720kb-datepicker-calendar-month>.ng-binding {
  color: rgba(0,0,0,0.4);
  font-weight: bold;
}
.FormRegistro-input {
  max-height: 4.8em;
  bottom: 1.4em;
}
.UserCreate-container>label {
  color: #4385f6;
}
.iconautocom-container {
  display: inline-block;
  float: left;
  margin-left: -34px;
  margin-top: -25px;
}
.iconautocom-container>md-icon {
  color: rgba(0,0,0,0.87);
}
@media (max-width: 450px) {
  .FormRegistro {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .UserCreate-container {
    font-size: 11px;
  }
  .FormRegistro-tittle {
    font-size: 22px;
  }
}
@media screen and (max-width: 1001px) {
  .HeaderUserCreate-Content {
    text-align: center;
  }
  .IconsUser-container {
    max-width: 55px;
    margin-right: 0.5em;
    display: inline-block;
  }
  .IconsHeaderUserCreate-container {
    text-align: center;
    display: inline-block;
  }
}
