
<section class="HeaderUserCreate">
  <div class="container UserCreateHeader-container">
    <div class="row">
      <div class="col-md-4 IconsUserTop-container">
        <div class="UserHeaderCreate-content"></div>
      </div>
      <div class="col-md-4 HeaderUserCreate-content">

          <img src="./images/regisadmin.png" alt="Usuarios" class="UserHeaderImage Gear" style="max-width:17em">

      </div>
      <div class="col-md-4 IconsUserTop-container">
        <div class="UserHeaderCreate-content"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row IconsHeaderUserCreate-container">
      <div class="col-md-3 text-center IconsUser-container">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">account_circle</i>
      </div>
      <div class="col-md-3 text-center IconsUser-container">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">list</i>
      </div>
      <div class="col-md-3 text-center IconsUser-container">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">desktop_windows</i>
      </div>
      <div class="col-md-3 text-center IconsUser-container">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">remove_red_eye</i>
      </div>
    </div>
  </div>
</section>
<section class="Registro">

    <form name="FormRegistroUsuarios" class="FormRegistro" ng-submit="vm.create()">
        <h1 class="FormRegistro-tittle">Registro Usuarios</h1>


        <md-input-container class="md-block UserCreate-container">
          <label>Nombre</label>
          <input md-maxlength="30" required md-no-asterisk name="nombre" ng-model="vm.usuario.nombre">
          <div ng-messages="FormRegistroUsuarios.nombre.$error">
            <div ng-message="required">Este campo no puede estar vacio.</div>
            <div ng-message="md-maxlength">El Nombre no puede tener mas de 30 caracteres.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block UserCreate-container">
          <label>Apellido</label>
          <input md-maxlength="30" required md-no-asterisk name="apellido" ng-model="vm.usuario.apellido">
          <div ng-messages="FormRegistroUsuarios.apellido.$error">
            <div ng-message="required">Este campo no puede estar vacio.</div>
            <div ng-message="md-maxlength">El Apellido no puede tener mas de 30 caracteres.</div>
          </div>
        </md-input-container>



        <md-input-container class="md-block UserCreate-container">
        <label>Cedula</label>
        <input type="number" maxlength="10" pattern=".{6,}" required md-no-asterisk name="cedula" ng-model="vm.usuario.dni">
        <div ng-messages="FormRegistroUsuarios.cedula.$error">
          <div ng-message="required">Este campo no puede estar vacio.</div>
          <div ng-message="maxlength">La Cedula no puede tener mas de 10 caracteres.</div>
          <div ng-message="pattern">la Cedula no puede tener menos de 6 caracteres.</div>
        </div>
      </md-input-container>



        <md-input-container class="md-block UserCreate-container">
        <label>Email</label>
        <input required type="email" name="email" ng-model="vm.usuario.email"
               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="FormRegistroUsuarios.email.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Su correo electrónico debe tener entre 10 y 100 caracteres de longitud y ser un formato de correo valido example@example.com.
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block UserCreate-container">
        <label>Fecha de Nacimiento</label>
        <datepicker  date-format="yyyy-MM-dd">
          <input ng-model="vm.usuario.fechaNac"/>
        </datepicker>
      </md-input-container>

      <md-input-container class="md-block UserCreate-container">
      <label>Telefono</label>
      <input type="number" maxlength="10"  required md-no-asterisk name="telefono" ng-model="vm.usuario.telefono">
      <div ng-messages="FormRegistroUsuarios.telefono.$error">
        <div ng-message="required">Este campo no puede estar vacio.</div>
        <div ng-message="maxlength">El telefono no puede tener mas de 10 caracteres.</div>
      </div>
    </md-input-container>

        <md-input-container class="md-block UserCreate-container">
          <label>Direccion</label>
          <input md-maxlength="30" required md-no-asterisk name="direccion" ng-model="vm.usuario.direccion">
          <div ng-messages="FormRegistroUsuarios.direccion.$error">
            <div ng-message="required">Este campo no puede estar vacio.</div>
            <div ng-message="md-maxlength">El Telefono no puede tener mas de 30 caracteres.</div>
          </div>
        </md-input-container>


        <md-autocomplete required
          md-selected-item="vm.usuario.ciudad"
          md-search-text="vm.searchTextCiudades"
          md-items="item in vm.foundCiudadesByNombre(vm.searchTextCiudades)"
          md-item-text="item.nombre"
          md-min-length="1"
          md-floating-label="Ciudad de Domicilio"
          class="FormRegistro-input">
        <md-item-template>
          <span md-highlight-text="vm.searchTextCiudades" md-highlight-flags="^i">
            {{item.nombre}}</span>
        </md-item-template>
        <md-not-found>
          La ciudad "{{vm.searchTextCiudades}}" no se encuentra.
        </md-not-found>
      </md-autocomplete>


        <md-input-container class="md-block UserCreate-container">
          <label>Password</label>
          <input required type="password" name="password" ng-model="vm.usuario.password">
          <div ng-messages="FormRegistroUsuarios.password.$error">
            <div ng-message="required">Este campo no puede estar vacio.</div>
          </div>
        </md-input-container>


        <md-button type="submit" class="md-raised md-primary">Guardar</md-button>
    </form>






</section>
