.WelcomeHeader {
  background-color: #152836;
}
.WelcomeMajor-container {
  padding-top: 3.6em;
  color: #fafafa;
  font-family: 'Open Sans';
}
.WelcomeInfo-container {
  background-color: #152836;
}
.SearchButton-container,
.SearchIcon-container {
  display: inline-block;
}
.WelcomeLink-buscarDrog {
  font-family: 'Open Sans';
  color: #166ba2;
  font-weight: 600;
}
.WelcomeLink-buscarDrog:hover {
  text-decoration: none;
  color: #166ba2;
}
.welcomesection {
  padding-top: 3em;
  padding-bottom: 2em;
  text-align: center;
  font-family: 'Open Sans';
  background-color: #f6f6f6;
}
.WelcomeDescription-image {
  padding-bottom: 0.7em;
}
.WelcomeDescription-text {
  font-size: 16px;
  text-align: justify;
  padding: 0.5em 0.5em;
}
.WelcomeOptions {
  padding-top: 2em;
  padding-bottom: 3em;
  text-align: center;
  font-family: 'Open Sans';
}
.WelcomeOpt-text {
  font-size: 16px;
}
.WelcomeOpt-link {
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  .WelcomeOpt-centerContainer {
    border-left: 1px dashed #000;
    border-right: 1px dashed #000;
  }
}
@media screen and (max-width: 991px) {
  .WelcomeOpt-contentContainer {
    padding: 1.5em 0;
  }
  .WelcomeOpt-centerContainer {
    padding: 1.5em 5em;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
    display: inline-block;
  }
}
