.HeaderDrogCreate {
  background-color: #1d8fd5;
  height: 28em;
  padding-top: 3.3em;
}
.HeaderDrogCreate-content {
  text-align: center;
  padding-top: 1em;
}
/**.UsersHeaderImage-container
  max-width 15em
  text-align center**/
.DrogHeaderImage {
  width: 100%;
}
/**.UserHeaderList-content
  max-width 15em**/
.IconsHeaderDrogCreate-container {
  padding: 1em 0.5em 1em 0;
}
.IconsDrogCreate-container {
  text-align: right;
}
.SectionRegistro {
  text-align: center;
  font-family: 'Open Sans';
  padding: 3em 0;
  background-color: #3d9bff;
}
.FormRegistro {
  background-color: #fffafa;
  display: inline-block;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em #555;
  width: 30em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: Snow;
  text-align: center;
}
.FormRegistro-input {
  color: #000;
}
.FormRegistro-tittle {
  color: #000;
}
.FormRegistro-input {
  max-height: 4.8em;
  bottom: 1.4em;
}
.DrogCreate-container>label {
  color: #4385f6;
}
@media (max-width: 422px) {
  .FormRegistro {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .DrogCreate-container {
    font-size: 11px;
  }
  .FormRegistro-tittle {
    font-size: 22px;
  }
}
@media screen and (max-width: 760px) {
  .IconsHeaderDrogCreate-container {
    padding: 1em 1.5em 1em 0;
  }
}
@media screen and (max-width: 1000px) {
  .IconsHeaderDrogCreate-container {
    text-align: center;
  }
  .IconsDrog-container {
    max-width: 55px;
    margin-right: 0.5em;
    display: inline-block;
  }
}
