.Gear1
  border solid 4px #f9f9f9
  border-radius 50%
  width 15em
  height 15em
  padding 0.5em

.HeaderDrogCreate
  // background-color #02A2DC
  // background-color #F8F8F8
  // background-color #3F71B8
  background-color #166ba2
  height 28em
  padding-top 3.3em

// .DrogCreateHeader-container
//   background-image:url("/images/banner5.jpg")
//   // background-position center center
//   background-repeat no-repeat
//   background-size 100% 100%
//   width 100%
//   height 22em

.HeaderDrogCreate-content
  text-align center
  padding-top 1em

/**.UsersHeaderImage-container
  max-width 15em
  text-align center**/

.DrogHeaderImage
  //width 100%
  // min-height 15em
  padding 0.5em
  border solid 4px #f9f9f9
  border-radius 50%

/**.UserHeaderList-content
  max-width 15em**/

.IconsHeaderDrogCreate-container
	padding 1em 0.5em 1em 0

.IconsDrogCreate-container
  text-align right

.SectionRegistro
    text-align center
    font-family 'Open Sans'
    padding  3em 0
    background-color #fafafa
.FormRegistro
    background-color snow
    display inline-block
    padding 2em
    border-radius 0.5em
    box-shadow 0.1em 0.1em  #555
    width 30em
    // background-image url(../images/fondo.jpg)
    background-repeat no-repeat
    background-position center
    background-size cover
    color Snow
    text-align center
    &-input
      color black
    &-tittle
      color black
.FormRegistro-input
  max-height 4.8em
  bottom 1.4em

.DrogCreate-container>label
  color #4385f6



@media (max-width: 422px)
  .FormRegistro
    width 100%

@media screen and (max-width: 450px)
  .DrogCreate-container
    font-size 11px
  .FormRegistro-tittle
    font-size 22px

@media screen and (max-width: 760px)
  .IconsHeaderDrogCreate-container
  	padding 1em 1.5em 1em 0

@media screen and (max-width: 1000px)
  .IconsHeaderDrogCreate-container
    text-align center
  .IconsDrog-container
    max-width 55px
    margin-right 0.5em
    display inline-block
