.MajorContainer-elements {
  min-height: calc(80vh);
}
.Gear1 {
  border: solid 4px #f9f9f9;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  padding: 0.5em;
}
.HeaderDrogCreate {
  background-color: #166ba2;
  height: 28em;
  padding-top: 3.3em;
}
.HeaderDrogCreate-content {
  text-align: center;
  padding-top: 1em;
}
/**.UsersHeaderImage-container
  max-width 15em
  text-align center**/
.DrogHeaderImage {
  padding: 0.5em;
  border: solid 4px #f9f9f9;
  border-radius: 50%;
}
/**.UserHeaderList-content
  max-width 15em**/
.IconsHeaderDrogCreate-container {
  padding: 1em 0.5em 1em 0;
}
.IconsDrogCreate-container {
  text-align: right;
}
.Registro {
  text-align: center;
  font-family: 'Open Sans';
  padding: 3em 0;
  background-color: #fff;
  background-image: url("../../../images/fondo2.jpg");
  box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.5);
}
.FormRegistro {
  background-color: #fffafa;
  display: inline-block;
  padding: 2em;
  border-radius: 0.5em;
  width: 30em;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ccc;
  background-size: cover;
  text-align: center;
}
.FormRegistro-input {
  color: #000;
}
.FormRegistro-tittle {
  color: #666;
  padding-bottom: 1em;
}
.FormRegistro-input {
  max-height: 4.8em;
  bottom: 1.4em;
}
.DrogCreate-container>label {
  color: #4385f6;
}
@media (max-width: 450px) {
  .FormRegistro {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .DrogCreate-container {
    font-size: 11px;
  }
  .FormRegistro-tittle {
    font-size: 22px;
  }
}
@media screen and (max-width: 1001px) {
  .HeaderDrogCreate-Cont {
    text-align: center;
  }
  .IconsDrog-container {
    max-width: 55px;
    margin-right: 0.5em;
    display: inline-block;
  }
  .IconsHeaderDrogCreate-container {
    text-align: center;
    display: inline-block;
  }
}
