<section class="SectionPerfil">
<section class="HeaderDrogView">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 HeaderDrogView-logo">
          <img src="./images/pills1.png" alt="Usuarios" class="HeaderDrogView-logoImg" style="max-width:15em">
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row HeaderDrogView-containerIcon">
      <div class="col-md-3 text-center HeaderDrogView-icons">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">account_circle</i>
      </div>
      <div class="col-md-3 text-center HeaderDrogView-icons">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">list</i>
      </div>
      <div class="col-md-3 text-center HeaderDrogView-icons">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">desktop_windows</i>
      </div>
      <div class="col-md-3 text-center HeaderDrogView-icons">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">remove_red_eye</i>
      </div>
    </div>
  </div>
</section>
    <article class="FormPerfilDrog">
      <div  class="dropzone FormPerfilUser-img">
        <div>Cambiar Foto de Perfil</div>
        <input type="file" value="Search" accept="image/png, image/jpg, image/jpeg," class="well my-drop-zone" nv-file-select=""  uploader="vm.uploader"/>
      </div>
      <article class="FormPerfilDrog-info">
            <h3 class="FormPerfilDrog-tittle">Perfil De Droguerías</h3>

          <div class="FormPerfilDrog-label">
            <div>
            <md-input-container class=" FormPerfilDrog-input">
              <label>Nombre</label>
              <input md-maxlength="30" required md-no-asterisk name="nombre" ng-model="vm.usuario.nombre" ng-disabled="true">
              <div ng-messages="FormRegistroUsuarios.nombre.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
              </div>
            </md-input-container>
            <label class="FormPerfilDrog-edit"  onclick="habilitarinput(this);">Editar</label>
            <button class="FormPerfilUser-button">Guardar</button>

          </div>

          <div>
            <md-input-container class=" FormPerfilDrog-input">
              <label>Apellido</label>
              <input md-maxlength="30" required md-no-asterisk name="apellido" ng-model="vm.usuario.apellido" ng-disabled="true">
              <div ng-messages="FormRegistroUsuarios.apellido.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
              </div>
            </md-input-container>
            <label class="FormPerfilDrog-edit"  onclick="habilitarinput(this);">Editar</label>
            <button class="FormPerfilUser-button">Guardar</button>
          </div>

            <div>
            <md-input-container class=" FormPerfilDrog-input">
              <label>Cedula</label>
              <input md-maxlength="10" required md-no-asterisk name="cedula" ng-model="vm.usuario.dni" ng-disabled="true" numbersonly >
              <div ng-messages="FormRegistroUsuarios.cedula.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 10 characters long.</div>
              </div>
            </md-input-container>
            <label class="FormPerfilDrog-edit"  onclick="habilitarinput(this);">Editar</label>
            <button class="FormPerfilUser-button">Guardar</button>
          </div>

          <div>
            <md-input-container class=" FormPerfilDrog-input">
            <label>Email</label>
            <input required type="email" name="email" ng-model="vm.usuario.email"
                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" ng-disabled="true"/>
            <div ng-messages="FormRegistroUsuarios.clientEmail.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 10 and 100 characters long and look like an e-mail address.
              </div>
            </div>
            </md-input-container>
            <label class="FormPerfilDrog-edit" onclick="habilitarinput(this);">Editar</label>
            <button class="FormPerfilUser-button">Guardar</button>
          </div>

          <div>
            <md-input-container class=" FormPerfilDrog-input">
              <label>Telefono</label>
              <input md-maxlength="10" required md-no-asterisk name="telefono" ng-model="vm.usuario.telefono" ng-disabled="true" numbersonly>
              <div ng-messages="FormRegistroUsuarios.telefono.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 10 characters long.</div>
              </div>
            </md-input-container>
            <label class="FormPerfilDrog-edit" onclick="habilitarinput(this);">Editar</label>
            <button class="FormPerfilUser-button">Guardar</button>
          </div>

          <div>
            <md-input-container class=" FormPerfilDrog-input">
              <label>Direccion</label>
              <input md-maxlength="30" required md-no-asterisk name="direccion" ng-model="vm.usuario.direccion" ng-disabled="true">
              <div ng-messages="FormRegistroUsuarios.direccion.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
              </div>
            </md-input-container>
            <label class="FormPerfilDrog-edit"onclick="habilitarinput(this);">Editar</label>
            <button class="FormPerfilUser-button">Guardar</button>

          </div>

          <div>
            <md-input-container class=" FormPerfilDrog-input">
                <label>Ciudad</label>
                <input md-maxlength="30" required md-no-asterisk name="ciudad" ng-model="vm.usuario.ciudad" ng-disabled="true">
                <!--<md-select ng-model="vm.ciudad">
                    <md-option ng-repeat="ciudad in vm.ciudades"  value="{{ciudad.ciudadPK.idCiudad}}-{{ciudad.ciudadPK.iddepartamento}}">
                       {{ciudad.ciudadPK.idCiudad}} -
                       {{ciudad.ciudadPK.iddepartamento}}
                    </md-option>
                </md-select>-->
            </md-input-container>
            <label class="FormPerfilDrog-edit" onclick="habilitarinput(this);">Editar</label>
            <button class="FormPerfilUser-button">Guardar</button>

          </div>

      </article>
    </article>
</section>
