<section class="SectionPerfil">

  <section class="HeaderDrogueriasView">
    <div class="container DrogueriasListHeader-container">
      <div class="row">
        <div class="col-md-4">
          <div class="DrogueriasHeaderList-content"></div>
        </div>
        <div class="col-md-4 HeaderDrogueriasList-content">

            <img src="./images/perfilusuario1.jpg" alt="Droguerias" class="DrogueriasHeaderImage Gear" style="max-width:20em">

        </div>
        <div class="col-md-4">
          <div class="DrogueriasHeaderList-content"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row IconsHeaderDrogueriasList-container">
        <div class="col-md-3 text-center IconsDroguerias-container">
          <i class="material-icons" style="font-size:48px;color:#f9f9f9">supervisor_account</i>
        </div>
        <div class="col-md-3 text-center IconsDroguerias-container">
          <i class="material-icons" style="font-size:48px;color:#f9f9f9">verified_user</i>
        </div>
        <div class="col-md-3 text-center IconsDroguerias-container">
          <i class="material-icons" style="font-size:48px;color:#f9f9f9">store</i>
        </div>
        <div class="col-md-3 text-center IconsDroguerias-container">
          <i class="material-icons" style="font-size:48px;color:#f9f9f9">add_shopping_cart</i>
        </div>
      </div>
    </div>

  </section>
    <article class="FormPerfil">
      <figure class="FormPerfil-img">
        <p>Imagen</p>
      </figure>
      <article class="FormPerfil-info">
            <h3 class="FormPerfil-tittle">Perfil De Drogueria</h3>

          <div class="FormPerfil-label">

            <md-input-container class=" FormPerfil-input" >
              <label>Nombre</label>
              <input md-maxlength="30" required md-no-asterisk name="nombre" ng-model="vm.droguerias.nombre" ng-disabled="true">
              <div ng-messages="FormRegistroUsuarios.nombre.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
              </div>
            </md-input-container>
            <label class="FormPerfil-edit">Editar</label>



            <md-input-container class=" FormPerfil-input">
              <label>Apellido</label>
              <input md-maxlength="30" required md-no-asterisk name="apellido" ng-model="vm.usuario.apellido" ng-disabled="true">
              <div ng-messages="FormRegistroUsuarios.apellido.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
              </div>
            </md-input-container>
            <label class="FormPerfil-edit">Editar</label>

            <md-input-container class=" FormPerfil-input">
              <label>Cedula</label>
              <input md-maxlength="10" required md-no-asterisk name="cedula" ng-model="vm.usuario.dni" ng-disabled="true" numbersonly >
              <div ng-messages="FormRegistroUsuarios.cedula.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 10 characters long.</div>

              </div>
            </md-input-container>
            <label class="FormPerfil-edit">Editar</label>

            <md-input-container class=" FormPerfil-input">
            <label>Email</label>
            <input required type="email" name="email" ng-model="vm.usuario.email"
                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" ng-disabled="true"/>
            <div ng-messages="FormRegistroUsuarios.clientEmail.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 10 and 100 characters long and look like an e-mail address.
              </div>
            </div>
            </md-input-container>
            <label class="FormPerfil-edit">Editar</label>

            <md-input-container class=" FormPerfil-input">
              <label>Telefono</label>
              <input md-maxlength="10" required md-no-asterisk name="telefono" ng-model="vm.usuario.telefono" ng-disabled="true" numbersonly>
              <div ng-messages="FormRegistroUsuarios.telefono.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 10 characters long.</div>

              </div>
            </md-input-container>
            <label class="FormPerfil-edit">Editar</label>

            <md-input-container class=" FormPerfil-input">
              <label>Direccion</label>
              <input md-maxlength="30" required md-no-asterisk name="direccion" ng-model="vm.usuario.direccion" ng-disabled="true">
              <div ng-messages="FormRegistroUsuarios.direccion.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
              </div>
            </md-input-container>
            <label class="FormPerfil-edit">Editar</label>

            <md-input-container class="FormPerfil-input" style="color:black">
                <label>Ciudad</label>
                <input md-maxlength="30" required md-no-asterisk name="ciudad" ng-model="vm.usuario.ciudad" ng-disabled="true">
                <!--<md-select ng-model="vm.ciudad">
                    <md-option ng-repeat="ciudad in vm.ciudades"  value="{{ciudad.ciudadPK.idCiudad}}-{{ciudad.ciudadPK.iddepartamento}}">
                       {{ciudad.nombre}} -
                       {{ciudad.departamento.nombre}}
                    </md-option>
                </md-select>-->
            </md-input-container>
            <label class="FormPerfil-edit">Editar</label>




            <div>

      </article>
    </article>






</section>
