div.PortafolioMainMenu
	background-color #4385f6
	border-color #4385f6

div.navbar-collapse ul.nav li a
	color white

div.PortafolioMainMenu-container ul.PortafolioMainMenu-list li.PortafolioMainMenu-item:hover
	background-color black

div.navbar-collapse ul.nav li a:hover
	color white

.IdentidadMajor-container
	padding 2em 0.5em 2em 0.5em
	background-color #fff

.Identidad-title
	padding-top 2em
	padding-bottom 1.5em
	font-family 'Open Sans'

div.IdentidadContainer ul.Identidad-item li
	font-family 'Open Sans'
	font-size 18px

div.IdentidadContainer ul.Identidad-item li a
	color #252525
	font-weight 600

.IdentidadDescription-container
	margin-bottom 5em

.Identidad-text
	font-family 'Open Sans'
	font-size 16px
	font-weight 300
	color #252525

.IdentidadCorp-title
	font-family 'Open Sans'
	font-size 18px
	font-weight 700
	color #252525
	padding-bottom 0.5em

.IdentidadCorp-imageContainer
	text-align center
	max-width 200px

.IdentidadCorp-image
	width 200px
	text-align center
	margin 0

div.ImpactoContainer h2
	font-family 'Open Sans'
	color #252525

div.ImpactoInfo-container h4
	font-family 'Open Sans'
	font-size 22px
	color #252525

.ImpactoMajor-container
	padding-top 2em
	padding-bottom 2em
	/** background-color #3D9BFF **/
	background-color #fff

.Impacto-image
	width 304px
	height 236px

.Impacto-text
	font-family 'Open Sans'
	font-size 16px
	font-weight 300
	color #252525

.ProductoMajor-container
	padding-top 2em
	padding-bottom 2em
	/** background-color #3D9BFF **/
	background-color #eaf3f8

div.ProductoContainer h2
	font-family 'Open Sans'
	color #252525

.Producto-image
	width 400px
	height 300px

.Producto-title
	font-family 'Open Sans'
	color #252525
	font-size 18px

.Producto-text
	font-family 'Open Sans'
	font-size 16px
	font-weight 300
	color #252525
	text-align justify

.Brand
	text-align center
	background-color #eaf3f8

.Brand-logo
	background-color #00aeef
	padding-top 2em
	padding-bottom 1em
	border-bottom solid 1px black

.Brand-text
	margin-top 0
	padding-top 0.3em
	padding-bottom 1em
	font-family 'Open Sans'
	font-weight 500
	color black

.PortafolioFooter
	background-color #546d87
	min-height 13.75em
	height auto
	text-align center
	padding-top 2em
	&-Seccion
		display inline-block
		vertical-align top
		padding 0.5em
		max-width 13em
		width 100%
		min-height 12em
		color snow
	&-Seccion>p
		font-size 1em
	&-tittle>a
		color snow
		text-decoration none
