.PortaHeaderMajor-container {
  padding-top: 4em;
  padding-bottom: 2em;
  background-color: #152836;
  opacity: 0.9;
}
section.PortaHeaderMajor-container>div.container>div.jumbotron {
  background: #152836;
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Open Sans';
}
div.jumbotron>h1.PortaHeader-title {
  color: #fff;
}
.PortaHeader-text {
  color: #fff;
}
div.PortafolioMainMenu {
  font-family: 'Open Sans';
  background-color: #4385f6;
  border-color: #4385f6;
}
div.navbar-collapse ul.nav li a {
  color: #fff;
}
div.PortafolioMainMenu-container ul.PortafolioMainMenu-list li.PortafolioMainMenu-item:hover {
  background-color: #000;
}
div.navbar-collapse ul.nav li a:hover {
  color: #fff;
}
.IdentidadMajor-container {
  padding: 0 0.5em 5em 0.5em;
  background-color: #fff;
}
.IdentityContent2 {
  padding-top: 2em;
}
.Identidad-titleP {
  margin-bottom: 1.3em;
  padding-bottom: 0.3em;
  font-family: 'Open Sans';
  border-bottom: 1px solid;
  display: inline-block;
}
.Identidad-title {
/**padding-top 2em**/
  padding-bottom: 1em;
  font-family: 'Open Sans';
  font-size: initial;
}
.Identidad-text {
  font-size: 15px;
  text-align: justify;
}
.TeamDescription-container {
  max-width: 20em;
  display: inline-block;
}
.TeamDescription-text {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  color: #252525;
  padding-top: 1em;
}
div.IdentidadContainer ul.Identidad-item li {
  font-family: 'Open Sans';
  font-size: 18px;
}
div.IdentidadContainer ul.Identidad-item li a {
  color: #252525;
  font-weight: 600;
}
.IdentidadDescription-container {
  margin-bottom: 5em;
}
.Identidad-text {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  color: #252525;
}
.IdentidadCorp-title {
  font-family: 'Open Sans';
  font-size: initial;
  font-weight: 700;
  color: #252525;
  padding-bottom: 0.5em;
  text-align: initial;
}
.IdentidadCorp-imageContainer {
  text-align: center;
  max-width: 200px;
}
.IdentidadCorp-image {
  width: 200px;
  text-align: center;
  margin: 0;
}
div.ImpactoContainer h2 {
  font-family: 'Open Sans';
  color: #252525;
}
div.ImpactoInfo-container h4 {
  font-family: 'Open Sans';
  color: #252525;
}
.ImpactoMajor-container {
  padding-top: 2em;
  padding-bottom: 2em;
/** background-color #3D9BFF **/
  background-color: #fafafa;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.ImpactMain-title {
  margin-bottom: 1.3em;
  padding-bottom: 0.3em;
  font-family: 'Open Sans';
  border-bottom: 1px solid;
  display: inline-block;
}
.Impacto-text {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  color: #252525;
}
.ProductoMajor-container {
  padding-top: 2em;
  padding-bottom: 2em;
/** background-color #3D9BFF **/
}
.BenMain-title {
  margin-bottom: 1.3em;
  padding-bottom: 0.3em;
  font-family: 'Open Sans';
  border-bottom: 1px solid;
  display: inline-block;
}
div.ProductoContainer h2 {
  font-family: 'Open Sans';
  color: #252525;
}
.Producto-image {
  width: 400px;
  height: 300px;
}
.Producto-title {
  font-family: 'Open Sans';
  color: #252525;
  margin-top: 0.5em;
}
.Producto-text {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  color: #252525;
  text-align: justify;
}
/**.Brand
	text-align center
	background-color #eaf3f8

.Brand-logo
	background-color #00aeef
	background-color #152836
	padding-top 2em
	padding-bottom 1em
	opacity 0.7
	border-bottom solid 1px black

.Brand-text
	margin-top 0
	padding-top 0.3em
	padding-bottom 1em
	font-family 'Open Sans'
	font-weight 500
	color black**/
md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar {
  background: #152836;
}
md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active {
  color: #152836;
  font-weight: 600;
}
.PortafolioFooter {
/** background-color #546d87 **/
  background-color: #152836;
  font-family: 'Open Sans';
  min-height: 13.75em;
  height: auto;
  padding-top: 2em;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 700px) {
  .PortafolioFooter {
    flex-direction: column-reverse;
    align-items: center;
  }
}
-Seccion {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 0.5em;
  max-width: 15em;
  min-height: 12em;
  color: #fffafa;
}
-Seccion>p {
  font-size: 1em;
}
-tittle>a {
  color: #fffafa;
  text-decoration: none;
}
@media (max-width: 900px) and (min-width: 768px) {
  .IdentityContent-responsive {
    margin-left: 3em;
    margin-right: 3em;
  }
}
@media screen and (min-width: 901px) {
  .IdentityContent-responsive {
    margin-left: 5.5em;
    margin-right: 5.5em;
  }
}
@media screen and (max-width: 767px) {
  .ProductCont-infoContent {
    max-width: 28em;
  }
}
@media screen and (min-width: 767px) {
  .ImpactContent-container {
    max-width: 28em;
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .ImpactContent-container {
    max-width: 23em;
    display: inline-block;
  }
}
