.Brand {
  text-align: center;
  background-color: #eaf3f8;
}
.Brand-logo {
  padding-top: 2em;
  padding-bottom: 1em;
  border-bottom: solid 1px #000;
}
.Brand-text {
  margin-top: 0;
  padding-top: 0.3em;
  padding-bottom: 1em;
  font-family: 'Open Sans';
  font-weight: 500;
  color: #000;
}
.EnviromentInfo-container {
  background-color: #fff;
}
.EnviromentInfo-title {
  padding-top: 3em;
  padding-bottom: 2em;
}
.EnviromentInfo-text {
  padding-bottom: 2em;
}
.BluePoints-container {
  text-align: center;
}
.BluePoints-container-title {
  margin-top: 0;
  padding-top: 2em;
  padding-bottom: 0.5em;
}
.art-medicametoPuntoAzul {
  background-color: #87cefa;
  display: inline-block;
  width: 30em;
  vertical-align: top;
  height: 15em;
  margin-top: 0.3em;
}
.IconBp5Image-container {
  padding-bottom: 2em;
}
/**.map-responsive
	overflow hidden
	padding-bottom 56.25%
	position relative
	height 0

.map-responsive iframe
	left 0
	top 0
	height 100%
	width 100%
	position absolute **/
.LinkMoreInfo {
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
