#tableModalMorePedido th>div {
  text-align: left;
}
#tableModalMorePedido th>div>span {
  color: #000;
}
.MajorContainer-elements {
  min-height: calc(80vh);
}
.AdminPedidoMajor-container {
  padding-top: 2em;
  padding-bottom: 3em;
}
.PanelPedidosUsuarios {
  text-align: center;
/**&-tabs
    width 80em
    display inline-block**/
}
.PanelPedidosUsuarios-itemTitle {
  text-align: left;
}
.AdminPedModal-inputsContainer {
  width: 48%;
  display: inline-block;
  margin-right: 3%;
}
.AdminPedModal-inputsContainer2 {
  width: 48%;
  display: inline-block;
}
.AdminPedModal-textArea {
  resize: none;
}
@media screen and (max-width: 429px) {
  .AdminPedModal-inputsContainer,
  .AdminPedModal-inputsContainer2 {
    width: 100%;
    display: block;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  span {
    font-size: 11px;
  }
}
@media screen and (max-width: 1001px) {
  .AdminPedidoList-Content {
    text-align: center;
  }
  .AdminPedidoListIcon-container {
    text-align: center;
    display: inline-block;
  }
  .IconsAdminPedidoList {
    max-width: 55px;
    margin-right: 0.5em;
    display: inline-block;
  }
}
