.MajorContainer-elements {
  min-height: calc(80vh);
}
.AdminPedidoMajor-container {
  padding-top: 2em;
  padding-bottom: 3em;
}
.PanelPedidosUsuarios {
  text-align: center;
}
.PanelPedidosUsuarios-tabs {
  width: 80em;
  display: inline-block;
}
.PanelPedidosUsuarios-itemTitle {
  text-align: left;
}
@media screen and (max-width: 1001px) {
  .AdminPedidoList-Content {
    text-align: center;
  }
  .AdminPedidoListIcon-container {
    text-align: center;
    display: inline-block;
  }
  .IconsAdminPedidoList {
    max-width: 55px;
    margin-right: 0.5em;
    display: inline-block;
  }
}
