<section class="SectionPerfil">

  <section class="HeaderAdminList">
    <div class="container AdminListHeader-container">
      <div class="row">
        <div class="col-md-4 IconsAdminTop-container">
          <div class="AdminHeaderList-content"></div>
        </div>
        <div class="col-md-4 HeaderAdminList-content">

            <img src="/images/gear.jpg" alt="Administradores" class="AdminHeaderImage Gear" style="max-width:20em ">

        </div>
        <div class="col-md-4 IconsAdminTop-container">
          <div class="AdminHeaderList-content"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row IconsHeaderAdminList-container">
        <div class="col-md-3 text-center IconsAdmin-container">
          <i class="material-icons" style="font-size:48px;color:#f9f9f9">accessibility</i>
        </div>
        <div class="col-md-3 text-center IconsAdmin-container">
          <i class="material-icons" style="font-size:48px;color:#f9f9f9">settings</i>
        </div>
        <div class="col-md-3 text-center IconsAdmin-container">
          <i class="material-icons" style="font-size:48px;color:#f9f9f9">build</i>
        </div>
        <div class="col-md-3 text-center IconsAdmin-container">
          <i class="material-icons" style="font-size:48px;color:#f9f9f9">bug_report</i>
        </div>
      </div>
    </div>
  </section>

    <article class="FormPerfil">
      <figure class="FormPerfil-img">
        <p>Imagen</p>
      </figure>
      <article class="FormPerfil-info">
            <h3 class="FormPerfil-tittle">Perfil De Administradores</h3>

          <div class="FormPerfil-label">

            <md-input-container class=" FormPerfil-input">
              <label>Nombre</label>
              <input md-maxlength="30" required md-no-asterisk name="nombre" ng-model="vm.usuario.nombre" ng-disabled="true">
              <div ng-messages="FormRegistroAdministradores.nombre.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
              </div>
            </md-input-container>
            <label class="FormPerfil-edit">Editar</label>

            <md-input-container class=" FormPerfil-input">
              <label>Apellido</label>
              <input md-maxlength="30" required md-no-asterisk name="apellido" ng-model="vm.usuario.apellido" ng-disabled="true">
              <div ng-messages="FormRegistroAdministradores.apellido.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
              </div>
            </md-input-container>
            <label class="FormPerfil-edit">Editar</label>

            <md-input-container class=" FormPerfil-input">
              <label>Cedula</label>
              <input md-maxlength="10" required md-no-asterisk name="cedula" ng-model="vm.usuario.cedula" ng-disabled="true" numbersonly>
              <div ng-messages="FormRegistroAdministradores.cedula.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 10 characters long.</div>

              </div>
            </md-input-container>
            <label class="FormPerfil-edit">Editar</label>

            <md-input-container class=" FormPerfil-input">
            <label>Email</label>
            <input required type="email" name="email" ng-model="vm.usuario.email" ng-disabled="true"
                   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
            <div ng-messages="FormRegistroAdministradores.clientEmail.$error" role="alert">
              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                Your email must be between 10 and 100 characters long and look like an e-mail address.
              </div>
            </div>
            </md-input-container>
            <label class="FormPerfil-edit">Editar</label>

            <md-input-container class=" FormPerfil-input">
              <label>Telefono</label>
              <input md-maxlength="10" required md-no-asterisk name="telefono" ng-model="vm.usuario.telefono" ng-disabled="true" numbersonly>
              <div ng-messages="FormRegistroAdministradores.telefono.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 10 characters long.</div>

              </div>
            </md-input-container>
            <label class="FormPerfil-edit">Editar</label>

            <md-input-container class=" FormPerfil-input">
              <label>Direccion</label>
              <input md-maxlength="30" required md-no-asterisk name="direccion" ng-model="vm.usuario.direccion" ng-disabled="true">
              <div ng-messages="FormRegistroAdministradores.direccion.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
              </div>
            </md-input-container>
            <label class="FormPerfil-edit">Editar</label>

            <md-input-container class=" FormPerfil-input" style="color:black">
                <label>Ciudad</label>
                <input md-maxlength="30" required md-no-asterisk name="ciudad" ng-model="vm.usuario.ciudad" ng-disabled="true">
                <!--<md-select ng-model="vm.ciudad">
                    <md-option ng-repeat="ciudad in vm.ciudades"  value="{{ciudad.ciudadPK.idCiudad}}-{{ciudad.ciudadPK.iddepartamento}}">
                       {{ciudad.nombre}} -
                       {{ciudad.departamento.nombre}}
                    </md-option>
                </md-select>-->
            </md-input-container>
            <label class="FormPerfil-edit">Editar</label>

            <div>

      </article>
    </article>






</section>
