.HeaderAdminView {
  background-color: #1d8fd5;
  height: 28em;
  padding-top: 3.6em;
  margin-bottom: 5em;
}
.Gear {
  border: solid 4px #f9f9f9;
  border-radius: 50%;
  width: 15em;
  height: 15em;
}
.Fotos {
  width: 100%;
  height: 30em;
  margin: 0 auto 2em auto;
  position: relative;
}
.Fotos-figure {
  width: 100%;
  height: 100%;
}
.Fotos-figure-img {
  width: 100%;
  height: 100%;
}
.Fotos-figure-icon {
  position: absolute;
}
.Fotos-figure-icon-1 {
  top: 37%;
  left: 36%;
}
.Fotos-figure-icon-2 {
  top: 39%;
  left: 50%;
}
.Fotos-figure-icon-3 {
  top: 39%;
  left: 64%;
}
.SectionPerfil {
  text-align: center;
  font-family: 'Open Sans';
  background-color: #3d9bff;
}
.FormPerfil {
  background-color: #fffafa;
  font-family: 'Open Sans';
  display: flex;
  justify-content: space-between;
  padding: 2em;
  margin: auto;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em #555;
  max-width: 55em;
}
.FormPerfil-input {
  margin-bottom: 1em;
  border-radius: 1em;
  font-family: 'Open Sans';
  display: inline-block;
  width: 80%;
}
.FormPerfil-edit {
  display: inline-block;
  font-family: 'Open Sans';
  width: 10%;
  color: #3d9bff;
  cursor: pointer;
  padding-left: 1.5em;
}
.FormPerfil-tittle {
  color: #000;
  font-family: 'Open Sans';
  border: 1px solid #999;
  margin: 0 0 1.5em 0;
  padding: 0.5em 0;
  box-shadow: 3px 2px 4px -3px #999;
}
.FormPerfil-img {
  width: 9em;
  height: 9em;
  border: 1px solid #999;
  box-shadow: 3px 3px 4px -3px #999;
}
.FormPerfil-info {
  width: 80%;
  display: inline-block;
}
.FormPerfil-label {
  box-sizing: border-box;
  padding: 2em;
  border: 1px solid #999;
  box-shadow: 3px 3px 4px -3px #999;
}
@media (max-width: 463px) {
  .FormPerfil-edit {
    padding-left: 0.5em;
    font-size: 11px;
  }
  .FormPerfil-label {
    padding-left: 0.2em;
  }
}
@media (max-width: 422px) {
  .FormRegistro {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .FormPerfil {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  .FormPerfil-img {
    margin-bottom: 2em;
  }
  .FormPerfil-info {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .FormPerfil {
    padding: 1em;
  }
}
