.MajorContainer-elements {
  min-height: calc(80vh);
}
.HeaderDrogList {
  background-color: #166ba2;
  height: 28em;
  padding-top: 3.6em;
}
.HeaderDrogList-logo {
  text-align: center;
  padding-top: 1em;
}
.HeaderDrogList-logoImg {
  width: 100%;
  border: solid 4px #f9f9f9;
  border-radius: 50%;
  height: 15em;
  width: 15em;
}
.HeaderDrogList-icons {
  padding: 1em 1.5em 1em 0;
}
.DrogTable {
  padding: 2em 0;
  font-family: 'Open Sans';
  text-align: center;
  background-color: #fafafa;
}
.DrogTable-title {
  margin-top: 0;
  padding-bottom: 1em;
  color: rgba(17,85,34,0.533) 3;
}
.DrogTable-containerTable {
  background-color: #fafafa;
  padding: 0;
  padding-top: 3em;
}
.DrogTable-table {
  width: 100%;
  margin: 0 0 50px 0;
}
.DrogTable-table th {
  background: #152836;
  color: #fafafa;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.DrogTable-table td {
  color: #337ab7;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}
.DrogTable-table tr:last-child td {
  border-top: 1px solid #ccc;
}
.DrogTable-table tbody {
  border: 1px solid #152836;
}
.ng-binding.sort-indicator {
  color: #fafafa;
}
/**@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px) **/
@media screen and (max-width: 768px) {
  .DrogTable-table,
  .DrogTable-table thead,
  .DrogTable-table tbody,
  .DrogTable-table th,
  .DrogTable-table td,
  .DrogTable-table tr {
    display: block;
  }
  .DrogTable-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .DrogTable-table tr {
    border: 1px solid #ccc;
  }
  .DrogTable-table td {
    border: none;
    position: relative;
  }
  .DrogTable-table td:before {
    position: relative;
    font-weight: bold;
  }
  .DrogTable-table td:nth-of-type(1):before {
    content: "Nombre: ";
  }
  .DrogTable-table td:nth-of-type(2):before {
    content: "Email: ";
  }
  .DrogTable-table td:nth-of-type(3):before {
    content: "Telefono: ";
  }
  .DrogTable-table td:nth-of-type(4):before {
    content: "Direccion: ";
  }
  .DrogTable-table td:nth-of-type(5):before {
    content: "Ciudad: ";
  }
  .DrogTable-table td:nth-of-type(6):before {
    content: "Nit: ";
  }
  .DrogTable-table td:nth-of-type(7):before {
    content: "Camara de Comercio: ";
  }
  .DrogTable-table td:nth-of-type(8):before {
    content: "Invima: ";
  }
}
@media screen and (max-width: 1000px) {
  .HeaderDrogList-Content {
    text-align: center;
  }
  .HeaderDrogList-icons {
    max-width: 55px;
    margin-right: 0.5em;
    display: inline-block;
  }
  .HeaderDrogList-containerIcon {
    text-align: center;
    display: inline-block;
  }
}
