.GearDrog
  width: 15em;
  height: 15em;

.HeaderDrogueriasList
  // background-color #02A2DC
  // background-color #F8F8F8
  // background-color #3F71B8
  background-color #166ba2
  height 28em
  padding-top 3.6em

.HeaderDrogueriasList-content
  text-align center
  padding-top 1em


/**.UsersHeaderImage-container
  max-width 15em
  text-align center**/

.DrogueriasHeaderImage
  //width 100%
  // min-height 15em
  padding 0.5em
  border solid 4px #f9f9f9
  border-radius 50%

/**.UserHeaderList-content
  max-width 15em**/

.IconsHeaderDrogueriasList-container
	padding 2em 1.5em 1em 0

.DrogueriasList-majorContainer
  font-family 'Open Sans'
  padding  5em 0.7em 3em 0.7em
  background-color #3D9BFF

.DrogueriasList-title
  font-family 'Open Sans'
  padding-bottom 2em

.DrogueriasList-tableContainer
  width 100%
  background-color snow
  justify-content space-between
  box-shadow 0.1em 0.1em  #555
  border-radius 0.5em

.DrogueriasList-table
  font-family 'Open Sans'
  width 100%

@media screen and (max-width:795px)
  table.DrogueriasList-table, .DrogueriasList-table thead, .DrogueriasList-table tbody, .DrogueriasList-table th, .DrogueriasList-table td, .DrogueriasList-table tr
    display block
  .DrogueriasList-table thead tr
    display none
  .DrogueriasList-table tr
    border 1px solid #ccc
    margin-bottom 2em
    border-radius 0.5em
  .DrogueriasList-table td
    position relative
    padding-left 50%
    text-align left
    min-height 2.5em
  .DrogueriasList-table td:before
    position absolute
    top 6px
    left 6px
    width 45%
    padding-right 10px
    white-space nowrap

/**table
  border-collapse collapse
  border-spacing 0

td,th
  padding 4px 8px

@media screen and (max-width:642px)
  .DrogueriasList-majorContainer
    padding  5em 0 3em 0
  .DrogueriasList-tableContainer
    flex-direction column
    align-items center
    width 80%
  .DrogueriasList-tableContainer
    width 100%
    font-size 12px
  table
    overflow-x auto
    display block**/

// @media screen and (max-width: 760px)
//   .IconsHeaderDrogueriasList-container
//   	padding 1em 1.5em 1em 0

@media screen and (max-width: 1000px)
  .IconsHeaderDrogueriasList-container
    text-align center
  .IconsDroguerias-container
    max-width 55px
    margin-right 0.5em
    display inline-block
