<section class="HeaderRealizarPedido">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 HeaderRealizarPedido-logo">
                <img src="./images/pedido.png" alt="Realizar Pedido" class="HeaderRealizarPedido-logoImg" style="max-width:15em">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <div class="container HeaderRealizarPedido-content">
        <div class="row HeaderRealizarPedido-containerIcon">
            <div class="col-md-3 text-center HeaderRealizarPedido-icons">
                <i class="material-icons" style="font-size:48px;color:#f9f9f9">desktop_windows</i>
            </div>
            <div class="col-md-3 text-center HeaderRealizarPedido-icons">
                <i class="material-icons" style="font-size:48px;color:#f9f9f9">account_circle</i>
            </div>
            <div class="col-md-3 text-center HeaderRealizarPedido-icons">
                <i class="material-icons" style="font-size:48px;color:#f9f9f9">search</i>
            </div>
            <div class="col-md-3 text-center HeaderRealizarPedido-icons">
                <i class="material-icons" style="font-size:48px;color:#f9f9f9">add_shopping_cart</i>
            </div>
        </div>
    </div>
</section>
<section class="RealizarPedidoMajor-container">
    <form id="FormRealizarPedido" class="FormRealizarPedido">

        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab>
                    <md-tab-label>
                        <md--icon class="fa fa-shopping-basket"></md-icon>
                            <p>Medicamentos</p>
                    </md-tab-label>
                    <md-tab-body>
                        <div>
                            <md-icon class="fa fa-shopping-basket"></md-icon>
                            <input type="text" placeholder="Buscar Medicamentos" ng-change="vm.search()" ng-model="vm.searchMedicamento" />
                        </div>
                        <md-list ng-cloak class="FormPedido-list">
                            <md-list-item ng-repeat="item in vm.medicamentosAutocomplete">
                                <p style="text-align:left">{{item.nombre}}</p>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="vm.addProducto(item)"><span class=" label-success badgeBotica" style="color: white;" ng-show="vm.cantidadPedida(item)>0">{{vm.cantidadPedida(item)}}</span>Añadir</button>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-tab-body>
                </md-tab>

                <md-tab>
                    <md-tab-label>
                        <md--icon class="fa fa-cart-plus"></md-icon>
                            <p>Mi Carrito</p>
                    </md-tab-label>
                    <md-tab-body>
                        <md-subheader class="md-no-sticky">Mi Carrito</md-subheader>
                    </md-tab-body>
                </md-tab>

            </md-tabs>
        </md-content>
        <!-- <h1 class="FormRealizarPedido-tittle">Pedido</h1>

    <md-input-container class="md-block RealizarPedido-input">
      <label>Direccion</label>
      <input md-maxlength="30" required md-no-asterisk name="direccion" ng-model="vm.producto.direccion">
      <div ng-messages="FormRealizarPedido.direccion.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
      </div>
    </md-input-container>

    <md-autocomplete required
      md-selected-item="vm.producto.ciudad"
      md-search-text="vm.searchTextCiudades"
      md-items="item in vm.foundCiudadesByNombre(vm.searchTextCiudades)"
      md-item-text="item.nombre"
      md-min-length="1"
      md-floating-label="Ciudad de Domicilio"
      class="FormRegistro-input">
    <md-item-template>
      <span md-highlight-text="vm.searchTextCiudades" md-highlight-flags="^i">
        {{item.nombre}}</span>
    </md-item-template>
    <md-not-found>
      La ciudad "{{vm.searchTextCiudades}}" no se encuentra.
    </md-not-found>
  </md-autocomplete>

    <md-input-container class="md-block RealizarPedido-input">
      <label>Zona de Envio</label>
      <md-select ng-model="vm.producto.idZonaEnvio.idZonaEnvio">
        <md-option ng-repeat="zonaenvio in vm.zonasenvios"  value="{{zonaenvio.idZonaEnvio}}">
          {{zonaenvio.descripcionZona}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container class="md-block RealizarPedido-input">
      <label>Descripcion</label>
      <input md-maxlength="200" required md-no-asterisk name="descripcion" ng-model="vm.producto.descripcion">
      <div ng-messages="FormRealizarPedido.descripcion.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 200 characters long.</div>
      </div>
    </md-input-container>

    <div class="AgregarProd">

      <md-autocomplete required
        md-selected-item="vm.nombreproducto"
        md-search-text="vm.searchTextMedicamentos"
        md-items="item in vm.foundMedicamentosByNombre(vm.searchTextMedicamentos)"
        md-item-text="item.nombre"
        md-min-length="1"
        md-floating-label="Medicamento"
        class="RealizarPedido-input">
      <md-item-template>
        <span md-highlight-text="vm.searchTextMedicamentos" md-highlight-flags="^i">
          {{item.nombre}}</span>
      </md-item-template>
      <md-not-found>
        El Medicamento "{{vm.searchTextMedicamentos}}" no se encuentra.
      </md-not-found>
    </md-autocomplete>
      <md-button md-no-ink class="md-primary" ng-click="vm.addProducto()"><i class="material-icons" style="padding-right:0.5em; padding-top:0.5em" ng-disabled="FormRealizarPedido.$invalid">add_shopping_cart</i>Agregar</md-button>

      <div repeat="item in vm.contenidopedido">
        <md-chips ng-model="vm.contenidopedido" name="fruitName" readonly="vm.readonly" md-max-chips="5">
        <md-chip-template>
          <strong>{{$chip.nombre.nombre}}</strong>
        </md-chip-template>
       </md-chips>

       </div>



    </div>

    <input type="submit" ng-click="vm.create()" value="Realizar Pedido" class="FormRealizarPedido-button" /> -->

    </form>
</section>
