<section class="HeaderRealizarPedido">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 HeaderRealizarPedido-logo">
          <img src="./images/pedido3.png" alt="Realizar Pedido" class="HeaderRealizarPedido-logoImg" style="max-width:15em">
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row HeaderRealizarPedido-containerIcon">
      <div class="col-md-3 text-center HeaderRealizarPedido-icons">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">desktop_windows</i>
      </div>
      <div class="col-md-3 text-center HeaderRealizarPedido-icons">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">account_circle</i>
      </div>
      <div class="col-md-3 text-center HeaderRealizarPedido-icons">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">search</i>
      </div>
      <div class="col-md-3 text-center HeaderRealizarPedido-icons">
        <i class="material-icons" style="font-size:48px;color:#f9f9f9">add_shopping_cart</i>
      </div>
    </div>
  </div>
</section>
<section class="RealizarPedidoMajor-container">
  <form class="FormRealizarPedido" enctype="multipart/form-data">
    <h1 class="FormRealizarPedido-tittle">Pedido</h1>

    <md-input-container class="md-block RealizarPedido-input">
      <label>Direccion</label>
      <input md-maxlength="30" required md-no-asterisk name="direccion" ng-model="project.direccion">
      <div ng-messages="projectForm.direccion.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block RealizarPedido-input">
      <label>Ciudad</label>
      <input md-maxlength="30" required md-no-asterisk name="ciudad" ng-model="project.ciudad">
      <div ng-messages="projectForm.ciudad.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block RealizarPedido-input">
      <label>Zona de Envio</label>
      <md-select ng-model="vm.zonaenvio">
        <md-option ng-repeat="zonaenvio in vm.zonasenvios"  value="{{zonaenvio.idZonaEnvio}}">
          {{zonaenvio.descripcionZona}}
        </md-option>
      </md-select>
    </md-input-container>

    <div class="AgregarProd">
      <md-input-container class="md-block RealizarPedido-input" class="AgregarProd-input">
        <label>Pedido</label>
        <input md-maxlength="30" required md-no-asterisk name="pedido" ng-model="vm.producto">
        <div ng-messages="projectForm.pedido.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
        </div>
      </md-input-container>
      <md-button md-no-ink class="md-primary" ng-click="vm.addProducto()"><i class="material-icons" style="padding-right:0.5em; padding-top:0.5em">add_shopping_cart</i>Agregar</md-button>
    </div>

    <input type="submit" ng-click="vm.create()" value="Realizar Pedido" class="FormRealizarPedido-button" />

  </form>
</section>
