<div>
  <section class="SectionAdministrarPedido">

          <form jsf:id="FormRealizarPedido" class="FormRealizarPedido" enctype="multipart/form-data">
              <h1>Pedido</h1>

              <md-input-container class="md-block">
                <label>Direccion</label>
                <input md-maxlength="30" required md-no-asterisk name="direccion" ng-model="project.direccion">
                <div ng-messages="projectForm.direccion.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block">
                <label>Ciudad</label>
                <input md-maxlength="30" required md-no-asterisk name="ciudad" ng-model="project.ciudad">
                <div ng-messages="projectForm.ciudad.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
              </md-input-container>

        <md-input-container class="md-block" style="color:black;">
            <label>Zona de Envio</label>
            <md-select ng-model="vm.zonaenvio">
                <md-option ng-repeat="zonaenvio in vm.zonasenvios"  value="{{zonaenvio.idZonaEnvio}}">
                   {{zonaenvio.descripcionZona}}
                </md-option>
            </md-select>
        </md-input-container>

          <div class="AgregarProd">
              <md-input-container class="md-block" class="AgregarProd-input">
                <label>Pedido</label>
                <input md-maxlength="30" required md-no-asterisk name="pedido" ng-model="vm.producto">
                <div ng-messages="projectForm.pedido.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
              </md-input-container>
              <md-button md-no-ink class="md-primary" ng-click="vm.addProducto()">Agregar</md-button>
          </div>


              <input type="submit" value="Realizar Pedido" class="FormRealizarPedido-button" />
         </form>

  </section>
</div>
