.LoginHeaderMajor-container {
  padding-top: 5em;
  padding-bottom: 2em;
  background: #166ba2;
  opacity: 0.9;
}
section.LoginHeaderMajor-container>div.container>div.jumbotron {
  background: #166ba2;
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Open Sans';
}
div.jumbotron>h1.LoginHeader-title {
  color: #fff;
}
.LoginHeader-text {
  color: #fff;
}
.SectionLogin {
  background-color: #fafafa;
  font-family: 'Open Sans';
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  background-image: url("../../../images/fondo2.jpg");
  -webkit-box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.5);
}
.FormLogin {
  display: inline-block;
  background-color: #fffafa;
  border-radius: 0.5em;
  padding: 2em;
  border: 1px solid #ccc;
}
.FormLogin-tittle {
  margin-bottom: 1em;
  color: #666;
}
@media screen and (min-width: 768px) {
  .FormLogin {
    width: 35em;
  }
}
@media (max-width: 767px) and (min-width: 455px) {
  .FormLogin {
    width: 30em;
  }
}
@media screen and (max-width: 454px) {
  .FormLogin {
    width: 100%;
  }
  .SectionLogin {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
@media screen and (max-width: 347px) {
  .FormLogin-tittle {
    font-size: 29px;
  }
}
