<div>
  <section class="SectionLogin">
                    <h:form class="FormLogin">
                        <h1 class="FormLogin-tittle">Inicio de Sesion</h1>
                        <md-input-container class="md-block">
                          <label>Email*</label>
                          <input required type="email" name="clientEmail" ng-model="project.clientEmail"
                          minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                          <div ng-messages="projectForm.clientEmail.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                              Your email must be between 10 and 100 characters long and look like an e-mail address.
                            </div>
                          </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                          <label>Password*</label>
                          <input required name="clientName" ng-model="project.clientName">
                          <div ng-messages="projectForm.clientName.$error">
                            <div ng-message="required">This is required.</div>
                          </div>
                        </md-input-container>
                        <button class="btn btn-primary waves-effect waves-light"
                                type="submit"
                                >
                            Guardar
                        </button>
                    </h:form>
                </section>
</div>
