.passrecovery {
  background-color: #166ba2;
  height: 28em;
  padding-top: 3.6em;
}
.passrecovery-logo {
  text-align: center;
  padding-top: 1em;
}
.passrecovery-logoImg {
  width: 100%;
  border: solid 4px #f9f9f9;
  border-radius: 50%;
  height: 15em;
  width: 15em;
}
.passrecovery-icons {
  display: inline-block;
}
.passrecoveryForm {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
}
.passrecoveryForm-form {
  max-width: 35em;
  display: inline-block;
  box-shadow: 0.1em 0.1em #555;
  padding: 3em;
  border-radius: 0.5em;
}
.passrecoveryForm-title {
  margin-bottom: 1em;
}
/**.passrecovery-containerIcon
  display inline-block **/
@media (max-width: 522px) {
  .passrecoveryForm-form {
    width: 100%;
  }
}
@media screen and (max-width: 1001px) {
  .passrecovery-content {
    text-align: center;
  }
  .passrecovery-icons {
    max-width: 55px;
    margin-right: 0.5em;
    display: inline-block;
  }
  .passrecovery-containerIcon {
    text-align: center;
    display: inline-block;
  }
}
