.passrecovery
  background-color #166ba2
  height 28em
  padding-top 3.6em
  &-logo
    text-align center
    padding-top 1em
  &-logoImg
    width 100%
    border solid 4px #f9f9f9
    border-radius 50%
    height 15em
    width 15em
  &-icons
    padding 1em 1.5em 1em 0
    display inline-block

.passrecoveryForm
  text-align center
  padding-top 5em
  padding-bottom 5em
  &-form
    max-width 35em
    display inline-block
    box-shadow 0.1em 0.1em #555
    padding 3em
    border-radius: 0.5em
  &-title
    margin-bottom: 1em

/**.passrecovery-containerIcon
  display inline-block **/

@media (max-width: 522px)
  .passrecoveryForm-form
    width 100%

@media screen and (min-width: 201px) and (max-width: 1000px)
  .passrecovery
    &-icons
      max-width 55px
      margin-right 0.5em
      display inline-block
    &-containerIcon
      text-align center
      /**display inline-block**/

@media screen and (max-width: 200px)
  .passrecovery
    &-icons
      max-width 18px
      margin-right 0.5em
      display inline-block
    &-containerIcon
      text-align center
