.passrecovery
  background-color #166ba2
  height 28em
  padding-top 3.6em
  &-logo
    text-align center
    padding-top 1em
  &-logoImg
    width 100%
    border solid 4px #f9f9f9
    border-radius 50%
    height 100%
    width 100%
  &-icons
    padding 1em 1.5em 1em 0
.passrecoveryForm
  text-align center
  padding-top 5em
  padding-bottom 5em
  &-form
    display inline-block
    box-shadow 0.1em 0.1em #555
    padding 5em
    padding-top: 1.5em
    border-radius: 0.5em
  &-title
    margin-bottom: 2em


@media screen and (max-width: 1000px)
  .passrecovery
    &-icons
      max-width 55px
      margin-right 0.5em
      display inline-block
    &-containerIcon
      text-align center
