.Nosotros
  font-family 'Open Sans'

.UsInfo-container
  padding-top 3em
  padding-bottom 2em
  max-width 35em
  float right
  text-align justify

.Objetivos
  background-color #3d9bff
  font-family 'Open Sans'

.ObjetivosInfo-container
  padding-bottom 2em
  max-width 35em
  float right
  text-align justify

.Beneficios
  font-family 'Open Sans'

.BeneficiosInfo-container
  padding-bottom 2em
  max-width 35em
  float right
  text-align justify

.MedioAmbienteHome
  background-color #3d9bff
  font-family 'Open Sans'

.MDHomeInfo-container
  padding-bottom 2em
  max-width 35em
  float right
  text-align justify

.UsTitle, .ObjTitle, .BenTitle, .MDHomeTitle
  font-size 46px

.UsText, .ObjText, .BenText, .MDHomeText
  font-size 18px
  font-weight 300
