.MajorContainer-elements {
  min-height: calc(80vh);
}
/** Estilos primer index **/
.Nosotros {
  font-family: 'Open Sans';
  background: #152836;
}
.Nosotros-container {
  padding: 2.5em;
}
.UsImage-container {
  max-width: 27em;
  padding-top: 1em;
  display: inline-block;
}
.UsImage {
  width: 100%;
}
.UsInfo-container {
  padding-top: 3em;
  padding-bottom: 2em;
  text-align: justify;
}
.MDHomeLink {
  color: #152836;
}
.MDHomeLink:hover {
  color: #3d9bff;
  text-decoration: none;
}
.UsTitle,
.UsText {
  color: #fafafa;
}
.UsLink {
  color: #fafafa;
}
.UsLink:hover {
  color: #166ba2;
  text-decoration: none;
}
.Objetivos {
/** background-color #3d9bff **/
  font-family: 'Open Sans';
}
.Objetivos-container {
  padding: 2.5em;
}
.ObjetivosInfo-container {
  padding-top: 3em;
  padding-bottom: 2em;
  text-align: justify;
}
.ObjetivosImage-container {
  max-width: 30em;
  display: inline-block;
}
.ObjTitle,
.ObjText {
  color: #152836;
}
.ObjetivosImage {
  width: 100%;
}
.Beneficios {
  font-family: 'Open Sans';
  background: #152836;
}
.Beneficios-container {
  padding: 2.5em;
}
.BeneficiosImage-container {
  max-width: 30em;
  padding-top: 1em;
  display: inline-block;
}
.BenTitle,
.BenText {
  color: #fafafa;
}
.BeneficiosImage {
  width: 100%;
}
.BeneficiosInfo-container {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: justify;
}
.MedioAmbienteHome {
/** background-color #3d9bff **/
  font-family: 'Open Sans';
}
.MedioAmbienteHome-container {
  padding: 2.5em;
}
.MDHomeInfo-container {
  padding-top: 3em;
  padding-bottom: 2em;
  text-align: justify;
}
.MDHomeImage-container {
  max-width: 30em;
  display: inline-block;
}
.MDHomeTitle,
.MDHomeText {
  color: #152836;
}
.MDHomeImage {
  width: 100%;
}
.UsTitle,
.ObjTitle,
.BenTitle,
.MDHomeTitle {
  font-size: 46px;
}
.UsText,
.ObjText,
.BenText,
.MDHomeText {
  font-size: 18px;
  font-weight: 300;
}
/** Estilos nuevo index **/
.HomeDrogMajor-container {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #f5f5f5;
}
.HomeDrogSearchInp-container {
  text-align: center;
}
.HomeDrogButton {
  font-size: 19.5px;
  background: #fafafa;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
  top: -0.17px;
}
.HomeProduct-title {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}
.HomeProductInfo-container {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1.5em;
}
.HomeProduct-imageContainer {
  text-align: center;
  display: inline-block;
  max-width: 10em;
}
.HomeProductInfo-desContainer {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1.5em;
}
.HomeProduct-imageDesContainer {
  text-align: center;
  display: inline-block;
  max-width: 10em;
}
@media screen and (min-width: 768px) {
  .HomeDrogSearch-Content {
    width: 45em;
    display: inline-block;
    text-align: center;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  .HomeDrogSearch-Content {
    width: 32em;
    display: inline-block;
    text-align: center;
  }
}
@media (max-width: 506px) {
  .HomeProduct-elementAlign {
    margin-bottom: 1.55em;
    margin-top: 2.6em;
  }
}
@media screen and (max-width: 499px) {
  div.HomeDrogContainer {
    padding-left: 0;
    padding-right: 0;
  }
  .HomeDrogContent,
  .HomeProductContent {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
@media screen and (min-width: 768px) {
  .HomeProductInfo-container {
    border-right: 1px dashed;
    display: inline-block;
  }
  .HomeProductInfo-container:nth-child(5) {
    border: none;
  }
  .HomeProduct-desSeparator {
    border-right: 1px dashed;
    border-left: 1px dashed;
  }
}
