.Nosotros
  font-family 'Open Sans'
  background #152836
  &-container
    padding 2.5em

.UsImage-container
  max-width 27em
  padding-top 1em

.UsImage
  width 100%

.UsInfo-container
  padding-top 3em
  padding-bottom 2em
  text-align justify

.MDHomeLink
  color #152836
.MDHomeLink:hover
  color #3D9BFF
  text-decoration none

.UsTitle, .UsText
  color #fafafa

.UsLink
  color #fafafa
.UsLink:hover
  color #166ba2
  text-decoration none

.Objetivos
  /** background-color #3d9bff **/
  font-family 'Open Sans'
  &-container
    padding 2.5em

.ObjetivosInfo-container
  padding-top 3em
  padding-bottom 2em
  text-align justify

.ObjetivosImage-container
  max-width 30em

.ObjTitle, .ObjText
  color #152836

.ObjetivosImage
  width 100%

.Beneficios
  font-family 'Open Sans'
  background #152836
  &-container
    padding 2.5em

.BeneficiosImage-container
  max-width 30em
  padding-top 1em

.BenTitle, .BenText
  color #fafafa

.BeneficiosImage
  width 100%

.BeneficiosInfo-container
  padding-top 2em
  padding-bottom 2em
  text-align justify

.MedioAmbienteHome
  /** background-color #3d9bff **/
  font-family 'Open Sans'
  &-container
    padding 2.5em

.MDHomeInfo-container
  padding-top 3em
  padding-bottom 2em
  text-align justify

.MDHomeImage-container
  max-width 30em

.MDHomeTitle, .MDHomeText
  color #152836
// .MDHomeLink
//   color #152836
// .MDHomeLink:hover
//   color #166ba2
//   text-decoration none

.MDHomeImage
  width 100%

.UsTitle, .ObjTitle, .BenTitle, .MDHomeTitle
  font-size 46px

.UsText, .ObjText, .BenText, .MDHomeText
  font-size 18px
  font-weight 300
