
<div class="MajorContainer-elements">
  <section class="HomeDrogMajor-container">
    <div class="container HomeDrogContainer">
      <div class="row HomeDrogContent" style="text-align:center;">
        <div class="HomeDrogSearch-Content">
          <div class="form-group input-group HomeDrogSearchInp-container">
            <md-autocomplete required
              md-selected-item="vm.drogueria"
              md-item-text="item.nombre"
              md-search-text="vm.searchTextDroguerias"
              md-items="item in vm.foundDrogueriasByNombre(vm.searchTextDroguerias)"
              md-min-length="1"
              placeholder = "Buscar Droguerias"
              class="FormRegistro-autocomplete">

              <md-item-template>
                <a href="#/drogueriasview/{{item.idUsuario}}" style="text-decoration:none;">
                <span md-highlight-text="vm.searchTextDroguerias" md-highlight-flags="^i">
                  {{item.nombre}}</span></a>
              </md-item-template>
            <md-not-found>
              La drogueria "{{vm.searchTextDrogurias}}" no se encuentra.
            </md-not-found>
          </md-autocomplete>
            <span class="input-group-btn">
              <button class="btn btn-default HomeDrogButton" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="row HomeProductContent">
        <h3 class="text-center HomeProduct-title">Productos más buscados</h3>
        <div class="col-xs-6 col-sm-3 HomeProductInfo-container">
          <div class="HomeProduct-imageContainer">
            <img src="images/enfagrow.png" alt="" class="img-responsive HomeProduct-image">
          </div>
          <h4 class="HomeProduct-name">Enfagrow Premium Vainilla</h4>
          <p class="HomeProduct-description">Lata x900 gr</p>
          <div class="HomeProduct-buttonContainer">
            <a href="" class="HomeProduct-button btn btn-info" data-toggle="modal" data-target="#myModal">Ver precios</a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 HomeProductInfo-container">
          <div class="HomeProduct-imageContainer">
            <img src="images/advil.png" alt="" class="img-responsive HomeProduct-image">
          </div>
          <h4 class="HomeProduct-name">Advil MAX</h4>
          <p class="HomeProduct-description HomeProduct-elementAlign">Caja x60 tab</p>
          <div class="HomeProduct-buttonContainer">
            <a href="" class="HomeProduct-button btn btn-info" data-toggle="modal" data-target="#myModal">Ver precios</a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 HomeProductInfo-container">
          <div class="HomeProduct-imageContainer">
            <img src="images/dolexninos.png" alt="" class="img-responsive HomeProduct-image">
          </div>
          <h4 class="HomeProduct-name">Dolex Niños 7+ Suspesión</h4>
          <p class="HomeProduct-description">Frasco x120 ml</p>
          <div class="HomeProduct-buttonContainer">
            <a href="" class="HomeProduct-button btn btn-info" data-toggle="modal" data-target="#myModal">Ver precios</a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-3 HomeProductInfo-container">
          <div class="HomeProduct-imageContainer">
            <img src="images/ensure.png" alt="" class="img-responsive HomeProduct-image">
          </div>
          <h4 class="HomeProduct-name">Ensure Advance</h4>
          <p class="HomeProduct-description">Lata x400 gr</p>
          <div class="HomeProduct-buttonContainer">
            <a href="" class="HomeProduct-button btn btn-info" data-toggle="modal" data-target="#myModal">Ver precios</a>
          </div>
        </div>

        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">


            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-family:'Open Sans';">¿Deseas ver los precios de los productos?</h4>
              </div>
              <div class="modal-body">
                <a data-dismiss="modal" ng-click="vm.goRegistroUser()" style="cursor:pointer; font-family:'Open Sans';">Registrate aquí</a>
              </div>
              <hr>
              <div class="modal-header">
                <h4 class="modal-title" style="font-family:'Open Sans';">¿Ya tienes cuenta?</h4>
              </div>
              <div class="modal-body">
                <a data-dismiss="modal" ng-click="vm.goLogin()" style="cursor:pointer; font-family:'Open Sans';">Inicia sesión aquí</a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>

          </div>
        </div>

      </div>
      <hr>
      <div class="row HomeProductContent">
        <h3 class="text-center HomeProduct-title">Productos con descuentos</h3>
        <div class="col-xs-6 col-sm-4 HomeProductInfo-desContainer">
          <div class="HomeProduct-imageDesContainer">
            <img src="images/bedoyecta.png" alt="" class="img-responsive HomeProduct-imageDesc">
          </div>
          <h4 class="HomeProduct-name">Bedoyecta Jeringa Prellenada</h4>
          <p class="HomeProduct-description">Caja x3 amp</p>
          <div class="HomeProduct-buttonContainer">
            <a href="" class="HomeProduct-button btn btn-primary" data-toggle="modal" data-target="#myModal2">Comprar</a>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 HomeProductInfo-desContainer HomeProduct-desSeparator">
          <div class="HomeProduct-imageDesContainer">
            <img src="images/centrum.png" alt="" class="img-responsive HomeProduct-imageDesc">
          </div>
          <h4 class="HomeProduct-name">Centrum Adultos Luteina</h4>
          <p class="HomeProduct-description">Frasco x100 tab</p>
          <div class="HomeProduct-buttonContainer">
            <a href="" class="HomeProduct-button btn btn-primary" data-toggle="modal" data-target="#myModal2">Comprar</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 HomeProductInfo-desContainer">
          <div class="HomeProduct-imageDesContainer">
            <img src="images/differin2.png" alt="" class="img-responsive HomeProduct-imageDesc">
          </div>
          <h4 class="HomeProduct-name">Differin 0.3% Gel</h4>
          <p class="HomeProduct-description">Tubo x30 gr</p>
          <div class="HomeProduct-buttonContainer">
            <a href="" class="HomeProduct-button btn btn-primary" data-toggle="modal" data-target="#myModal2">Comprar</a>
          </div>
        </div>

        <div id="myModal2" class="modal fade" role="dialog">
          <div class="modal-dialog">


            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="font-family:'Open Sans';">¿Deseas comprar el producto?</h4>
              </div>
              <div class="modal-body">
                <a data-dismiss="modal" ng-click="vm.goRegistroUser()" style="cursor:pointer; font-family:'Open Sans';">Registrate aquí</a>
              </div>
              <hr>
              <div class="modal-header">
                <h4 class="modal-title" style="font-family:'Open Sans';">¿Ya tienes cuenta?</h4>
              </div>
              <div class="modal-body">
                <a data-dismiss="modal" ng-click="vm.goLogin()" style="cursor:pointer; font-family:'Open Sans';">Inicia sesión aquí</a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
</div>
