<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,500">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800">
<section class="SectionRegistro">

    <form name="FormRegistroAdministradores" class="FormRegistro" ng-submit="vm.create()">
        <h1 class="FormRegistro-tittle">Registro Administradores</h1>


        <md-input-container class="md-block AdminCreate-container">
          <label>Nombre</label>
          <input md-maxlength="30" required md-no-asterisk name="nombre" ng-model="vm.administrador.nombre">
          <div ng-messages="FormRegistroAdministradores.nombre.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block AdminCreate-container">
          <label>Apellido</label>
          <input md-maxlength="30" required md-no-asterisk name="apellido" ng-model="vm.administrador.apellido">
          <div ng-messages="FormRegistroAdministradores.apellido.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block AdminCreate-container">
          <label>Cedula</label>
          <input md-maxlength="10" required md-no-asterisk name="cedula" ng-model="vm.adminstrador.cedula" numbersonly>
          <div ng-messages="FormRegistroAdministradores.cedula.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 10 characters long.</div>

          </div>
        </md-input-container>

        <md-input-container class="md-block AdminCreate-container">
        <label>Email</label>
        <input required type="email" name="email" ng-model="vm.administrador.email"
               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="FormRegistroAdministradores.clientEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 10 and 100 characters long and look like an e-mail address.
          </div>
        </div>
        </md-input-container>

        <md-input-container class="md-block AdminCreate-container">
          <label>Telefono</label>
          <input md-maxlength="10" required md-no-asterisk name="telefono" ng-model="vm.administrador.telefono" numbersonly>
          <div ng-messages="FormRegistroAdminstradores.telefono.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 10 characters long.</div>

          </div>
        </md-input-container>

        <md-input-container class="md-block AdminCreate-container">
          <label>Direccion</label>
          <input md-maxlength="30" required md-no-asterisk name="direccion" ng-model="vm.administrador.direccion">
          <div ng-messages="FormRegistroAdministradores.direccion.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block AdminCreate-container" style="color:black;">
            <label>Ciudad</label>
            <md-select ng-model="vm.ciudad">
                <md-option ng-repeat="ciudad in vm.ciudades"  value="{{ciudad.ciudadPK.idCiudad}}-{{ciudad.ciudadPK.iddepartamento}}">
                   {{ciudad.nombre}} -
                   {{ciudad.departamento.nombre}}
                </md-option>
            </md-select>
        </md-input-container>


        <md-input-container class="md-block AdminCreate-container">
          <label>Password</label>
          <input required type="password" name="password" ng-model="vm.administrador.password">
          <div ng-messages="FormRegistroAdministradores.password.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>


        <md-button type="submit" class="md-raised md-primary">Guardar</md-button>
    </form>






</section>
