.SectionRegistro
  font-family 'Open Sans'

.FormRegistro
  font-family 'Open Sans'

.AdminCreate-container>label
  color #4385f6

.FormRegistro-input
  max-height 4.8em
  bottom 1.4em


@media screen and (max-width: 450px)
  .AdminCreate-container
    font-size 11px
  .FormRegistro-tittle
    font-size 22px

.FormRegistro
  width 100%
