.HeaderAdminCreate {
  background-color: #1d8fd5;
  padding-top: 3.3em;
}
.AdminCreateHeader-container {
  background-image: url("/images/bann.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 22em;
}
.HeaderAdminCreate-content {
  text-align: center;
  padding-top: 1em;
}
/**.UsersHeaderImage-container
  max-width 15em
  text-align center**/
.AdminCreateHeaderImage {
  width: 100%;
}
/**.UserHeaderList-content
  max-width 15em**/
.ng-binding {
  color: #4385f6;
}
.IconsHeaderAdminCreate-container {
  padding: 2em 8.5em 1em 0;
}
.IconsAdminCreate-container {
  text-align: right;
}
.SectionRegistro {
  font-family: 'Open Sans';
  padding: 3em 0;
}
.FormRegistro {
  font-family: 'Open Sans';
}
.AdminCreate-container>label {
  color: #4385f6;
}
.FormRegistro-input {
  max-height: 4.8em;
  bottom: 1.4em;
}
@media screen and (max-width: 450px) {
  .AdminCreate-container {
    font-size: 11px;
  }
  .FormRegistro-tittle {
    font-size: 22px;
  }
}
@media screen and (max-width: 760px) {
  .IconsHeaderAdminCreate-container {
    padding: 2em 1.5em 1em 0;
  }
}
@media screen and (max-width: 960px) {
  .AdminCreateHeader-container {
    height: 18em;
  }
}
