.AdministradoresList-majorContainer {
  font-family: 'Open Sans';
  padding: 5em 0.7em 3em 0.7em;
  background-color: #3d9bff;
}
.AdministradoresList-title {
  font-family: 'Open Sans';
  padding-bottom: 2em;
}
.AdministradoresList-tableContainer {
  width: 100%;
  background-color: #fffafa;
  justify-content: space-between;
  box-shadow: 0.1em 0.1em #555;
  border-radius: 0.5em;
}
.AdministradoresList-table {
  font-family: 'Open Sans';
}
@media screen and (max-width: 642px) {
  table.AdministradoresList-table,
  .AdministradoresList-table thead,
  .AdministradoresList-table tbody,
  .AdministradoresList-table th,
  .AdministradoresList-table td,
  .AdministradoresList-table tr {
    display: block;
  }
  .AdministradoresList-table thead tr {
    display: none;
  }
  .AdministradoresList-table tr {
    border: 1px solid #ccc;
    margin-bottom: 2em;
    border-radius: 0.5em;
  }
  .AdministradoresList-table td {
    position: relative;
    padding-left: 50%;
    text-align: left;
    min-height: 2.5em;
  }
  .AdministradoresList-table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
