.AdministradoresList-majorContainer
  font-family 'Open Sans'

.AdministradoresList-title
  font-family 'Open Sans'
  padding-top 3em
  padding-bottom 2.5em

.AdministradoresList-table
  font-family 'Open Sans'
