.HeaderAdminList {
/** background-color #1D8FD5 **/
  background-color: #166ba2;
  height: 28em;
  padding-top: 3.6em;
}
.HeaderAdminList-content {
  text-align: center;
  padding-top: 1em;
}
/**.UsersHeaderImage-container
  max-width 15em
  text-align center**/
.AdminHeaderImage {
  width: 100%;
  padding: 0.5em;
  border: solid 4px #f9f9f9;
  border-radius: 50%;
}
/**.UserHeaderList-content
  max-width 15em**/
.IconsHeaderAdminList-container {
  padding: 2em 1.5em 1em 0;
}
.Listreg {
  padding: 6em 0;
  font-family: 'Open Sans';
  text-align: center;
  background-color: #3d9bff;
}
.Listreg-title {
  margin-top: 0;
  color: #fff;
}
.Listreg-table {
  background-color: #fff;
  padding-top: 3em;
}
.width200 {
  width: 100%;
  margin: 0 0 50px 0;
}
.width200 th {
  background: #d3d3d3;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.width200 td {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}
.width200 tr:last-child td {
  border-top: 1px solid #ccc;
}
@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px) {
  .width200,
  .width200 thead,
  .width200 tbody,
  .width200 th,
  .width200 td,
  .width200 tr {
    display: block;
  }
  .width200 thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .width200 tr {
    border: 1px solid #ccc;
  }
  .width200 td {
    border: none;
    position: relative;
  }
  .width200 td:before {
    position: relative;
    font-weight: bold;
  }
  .width200 td:nth-of-type(1):before {
    content: "Id: ";
  }
  .width200 td:nth-of-type(2):before {
    content: "Nombres: ";
  }
  .width200 td:nth-of-type(3):before {
    content: "Apellidos: ";
  }
  .width200 td:nth-of-type(4):before {
    content: "Telefono: ";
  }
  .width200 td:nth-of-type(5):before {
    content: "Direccion: ";
  }
  .width200 td:nth-of-type(6):before {
    content: "Ciudad: ";
  }
  .width200 td:nth-of-type(7):before {
    content: "Email: ";
  }
}
@media screen and (max-width: 1000px) {
  .IconsHeaderAdminList-container {
    text-align: center;
  }
  .IconsAdmin-container {
    max-width: 55px;
    margin-right: 0.5em;
    display: inline-block;
  }
}
