.Footer {
  background: #152836;
  min-height: 13.75em;
  height: auto;
  padding-top: 2em;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 700px) {
  .Footer {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.Footer-Ambiental {
  background-color: #007e33;
  min-height: 13.75em;
  height: auto;
  padding-top: 2em;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 700px) {
  .Footer-Ambiental {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.Footer-Seccion {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 0.5em;
  max-width: 15em;
  min-height: 12em;
  color: #fffafa;
}
@media screen and (max-width: 700px) {
  .Footer-Seccion {
    max-width: 100%;
    min-height: 8em;
  }
}
.Footer-Seccion>p {
  font-size: 1em;
}
.Footer-tittle>a {
  color: #fffafa;
  text-decoration: none;
}
.icon {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.icon>a {
  color: #fff;
}
.icon>a:hover {
  text-decoration: none;
}
.icon>a:active {
  text-decoration: none;
}
.icon>a:focus {
  text-decoration: none;
}
.Icons-container {
  width: 21em;
}
.icon-follow:hover {
  cursor: pointer;
  color: #3d9bff;
  border-radius: 50%;
}
.Footer-Seccion-Contanier {
  text-align: left;
  margin: auto;
}
@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?ofef2y");
  src: url("../../fonts/icomoon.eot?ofef2y#iefix") format('embedded-opentype'), url("../../fonts/icomoon.ttf?ofef2y") format('truetype'), url("../../fonts/icomoon.woff?ofef2y") format('woff'), url("../../fonts/icomoon.svg?ofef2y#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-follow {
  display: inline-block;
  margin-left: 1em;
}
.icon-mail4:before {
  content: "\e900";
  font-size: 2em;
}
.icon-google-plus3:before {
  content: "\e901";
  font-size: 2em;
}
.icon-facebook3:before {
  content: "\e902";
  font-size: 2em;
}
.icon-twitter3:before {
  content: "\e903";
  font-size: 2em;
}
.icon-feed4:before {
  content: "\e904";
  font-size: 2em;
}
.icon-youtube3:before {
  content: "\e905";
  font-size: 2em;
}
.icon-html52:before {
  content: "\e906";
  font-size: 2em;
}
.icon-chrome:before {
  content: "\e907";
  font-size: 2em;
}
.icon-firefox:before {
  content: "\e908";
  font-size: 2em;
}
.icon-IE:before {
  content: "\e909";
  font-size: 2em;
}
.icon-opera:before {
  content: "\e90a";
  font-size: 2em;
}
.icon-safari:before {
  content: "\e90b";
  font-size: 2em;
}
